﻿/*Layout*/

.media-query {
    position: fixed;
    top: 60px;
    left: 10px;
    z-index: 99999;
    opacity: 0.5;
}

.banner {
    position: relative;
    text-align: center;
}

.banner-buscar {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-duvida {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-info {
    background-color: #f2f2f2;
    border-radius: 5px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #f2f2f2;
}

@media (min-width: 1240px) {
    .container {
        max-width: 1200px;
    }
}

.container {
    margin-bottom:260px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
    background-color: #329c9a;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

label.required::before {
    content: '*';
    margin-right: 4px;
    color: red;
}

.img-anuncio {
    height: 240px;
    background-position: center center;
    background-size: cover;
}

.dropdown-toggle::after {
    display: none;
}

@media(min-width:574px) {
    .card-columns {
        column-count: 2;
    }
}

/*Cores*/

.bg-theme {
    background-color: #39b4b1;
}

.bg-theme-secondary {
    background-color: #329c9a;
}

.bg-theme-dark {
    background-color: #2a8281;
}

.bg-theme-light {
    background-color: #42cfcc;
}

.color-theme {
    color: #39b4b1;
}

.color-theme-dark {
    color: #329c9a;
}

.noty-color {
    color: #06d6a0;
}

.bg-dark {
    background-color: #292929;
}

/*Botões*/

.btn-theme {
    background-color: #39b4b1;
    color: white;
}

.btn-theme:hover, .btn-theme:focus {
    background-color: #64cfcd;
    color: white;
}

.btn-theme:disabled {
    background-color: #64cfcd;
    color: white;
    cursor: not-allowed;
}

.btn-theme-radio, .btn-theme-radio:hover {
    background-color: #ffffff;
    border: 1px solid #39b4b1;
}

.btn-theme-radio:focus {
    background-color: #39b4b1;
    border: 1px solid #39b4b1;
    color: #ffffff;
}

.btn-theme-radio.active {
    background-color: #39b4b1;
    color: #ffffff;
    border: 1px solid #39b4b1;
}

.btn-theme-outline {
    background-color: #39b4b1;
    color: white;
    border: 1px solid white;
}

.btn-theme-outline:hover, .btn-theme-outline:focus {
    background-color: #39b4b1;
    color: white;
    border: 1px solid white;
}

.btn-dark {
    background-color: #000000;
    opacity: 0.5;
    color: white;
}

.btn-white {
    background: #fff;
    color: #39b4b1;
}

.btn-white:hover, .btn-white:focus {
    background: #fff;
    color: #39b4b1;
}

.btn-outline-white {
    border: 2px solid white;
    background-color: transparent;
    color: white;
}

.btn-outline-white:hover {
    border: 2px solid white;
    background-color: transparent;
    color: white;
}

.btn-outline-theme-1, .btn-outline-theme-1:hover, .btn-outline-theme-1:focus {
    border: 1px solid #39b4b1;
    background-color: white;
    color: #39b4b1;
}

.btn-outline-theme-2, .btn-outline-theme-2:hover, .btn-outline-theme-2:focus {
    border: 2px solid #39b4b1;
    background-color: white;
    color: #39b4b1;
}

.btn-filtro {
    border: 1px solid #c4c3c3;
    background-color: white;
    color: #6c757d;
}

.btn-filtro:hover {
    border: 1px solid #c4c3c3;
    background-color: #c4eceb;
    color: #6c757d;
}

.btn-filtro-ativo, .btn-filtro-ativo:hover {
    border: 1px solid #c4c3c3;
    background-color: #c4eceb;
    color: #39b4b1;
}

.btn-link-theme {
    color: #39b4b1;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.btn-link-theme:hover, .btn-link-theme:focus {
    color: #329c9a;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.btn-link-theme-secondary {
    color: #329c9a;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.btn-link-theme-secondary:hover, .btn-link-theme-secondary:focus {
    color: #329c9a;
    font-weight: bold;
    font-size: 16px;
        cursor: pointer;
}

.btn-link-red {
    color: #e64a45;
    font-weight: bold;
    cursor: pointer;
}

.btn-link-red:hover, .btn-link-red:focus {
    color: #e64a45;
    font-weight: bold;
        cursor: pointer;
}

.carousel-control-next, .carousel-control-next:hover, .carousel-control-next:focus {
    color: black;
    opacity: 0.5;
    font-size:48px;
}

.carousel-control-prev, .carousel-control-prev:hover, .carousel-control-prev:focus {
    color: black;
    opacity: 0.5;
    font-size: 48px;
}

.page-link, .page-link:focus {
    color: #329c9a;
}

.page-item.active .page-link {
    background-color: #39b4b1;
    border-color: #329c9a;
}

.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 28px;
    right: 8px;
    color: white;
    background-color: #42cfcc;
    width: 40px;
    height: 40px;
    opacity: 1.0;
    border: none;
    outline: none;
    border-radius: 4px;
    z-index: 99999;
}

/*Checkbox e Radio Button*/

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #329c9a;
    border: 1px solid #39b4b1;
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(55, 167, 204, 0.7);
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #329c9a;
    border: 1px solid #39b4b1;
}

.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(55, 167, 204, 0.7);
}

/*Nav*/

.nav-item:hover {
    background-color: #64cfcd;
}

nav, .navbar-collapse, navbar-togglerr {
    height: 56px;
}

.nav-item {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
}

/*Logo*/

.logo {
    text-decoration: none;
    font-size: 22px;
    font-family: Trebuchet MS, sans-serif;
}

.logo-lg {
    text-decoration: none;
    font-size: 40px;
    font-family: Trebuchet MS, sans-serif;
}

/*Links*/

a:hover {
    text-decoration: none;
}

/*Icones*/

.icone-senha {
    position: absolute;
    right: 10px;
    top: calc(50% - 14px);
    font-size: 20px;
    color: #c4c3c3;
    z-index: 3;
}

.icone-confirmacao-senha {
    position: absolute;
    right: 10px;
    top: calc(50% - 14px);
    font-size: 20px;
    color: #c4c3c3;
    z-index: 3;
}

/*Fonte e Texto*/
@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow&display=swap');

* {
    font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans Narrow', sans-serif;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-18{
    font-size: 18px;
}

.fs-24 {
    font-size: 24px;
}

.fs-48 {
    font-size: 48px;
}

.fs-72 {
    font-size: 72px;
}

.text-muted {
    color: #666666;
}

/*Espaçamentos*/

.px-72 {
    padding-left:72px;
    padding-right:72px;
}

.pt-64 {
    padding-top: 64px;
}

.pb-64 {
    padding-bottom: 64px;
}

.mb-260 {
    margin-bottom: 260px;
}

/*Bordas*/

.border-theme-1 {
    border:1px solid #39b4b1;
}

.border-right-1 {
    border-right:1px solid #39b4b1;
}

.border-bottom-4 {
    border-bottom: 4px solid #39b4b1;
}

.border-bottom-5 {
    border-bottom: 5px solid #e5e5e5;
}

.card-border {
    box-shadow: 0px 0px 10px 10px rgba(66,207,204,1);
}

#deck-wrapper {
    display: flex;
    flex-wrap: wrap;
}

#deck-wrapper > div[class*='col-'] {
    display: flex;
}

.page-titles {
    background: #f4f6f9;
    margin-bottom: 20px;
    padding: 0px;
}

.page-titles h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}
#deck-wrapper > div[class*='col-'] {
    display: flex;
}

.list-group-item.active {
    background-color: #39b4b1;
    border-color: #39b4b1;
}