﻿@model ImoveisNow.Models.ViewModels.Feedback.CriarFeedBackViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Reportar problema no anúncio</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times fs-18"></i></span></button>
        </div>
        <div class="modal-body">
            <form asp-controller="Feedback" asp-action="Criar" method="post">
                <div class="form-group">
                    <label asp-for="Email" class="control-label fs-14 text-muted"></label>
                    <input asp-for="Email" class="form-control" tabindex="1" autocomplete="off" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Texto" class="control-label fs-14 text-muted"></label>
                    <textarea asp-for="Texto" class="form-control" rows="4" tabindex="2"></textarea>
                    <span asp-validation-for="Texto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReceberReposta" class="control-label"></label>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-5 ml-3 px-1">
                                <div class="custom-control custom-radio">
                                    <input type="radio" name="ReceberReposta" id="Reposta1" class="custom-control-input" value="true" tabindex="3">
                                    <label class="custom-control-label" for="Reposta1">Sim</label>
                                </div>
                            </div>
                            <div class="col-sm-5 ml-3 px-1">
                                <div class="custom-control custom-radio">
                                    <input type="radio" name="ReceberReposta" id="Reposta2" class="custom-control-input" value="false" tabindex="4">
                                    <label class="custom-control-label" for="Reposta2">Não</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-theme float-right"><b>Enviar</b></button>
                </div>
            </form>
        </div>
    </div>
</div>