﻿@model ImoveisNow.Models.ViewModels.MinhaConta.MinhaContaAdminViewModel

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_LayoutContainerFluid.cshtml";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="mr-4 align-self-center"><i class="far fa-eye color-theme fa-3x"></i></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">Visualizações</h6>
                            <h2 class="m-t-0">@Model.NumeroDeVisualizacoes</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="mr-4 align-self-center"><i class="fas fa-home color-theme fa-3x"></i></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">Anúncios</h6>
                            <h2 class="m-t-0">@Model.NumeroDeAnunciosAtivos</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="mr-4 align-self-center"><i class="fas fa-users color-theme fa-3x"></i></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">Anunciantes</h6>
                            <h2 class="m-t-0">@Model.NumeroDeAnunciantesAtivos</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block">
                        <div class="mr-4 align-self-center"><i class="fas fa-user-plus color-theme fa-3x"></i></div>
                        <div class="align-self-center">
                            <h6 class="text-muted m-t-10 m-b-0">Contas Premium</h6>
                            <h2 class="m-t-0">@Model.NumeroDePlanosPremiumAtivos</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-muted compartilhar">Visualizações por mês</h4>
                    @* TODO: Obter os dados quantitativos de Visualizações e passar como parâmetro via data-attribute *@
                    <canvas id="chart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-muted">Feedbacks</h4>
                    <div class="table-responsive">
                        @if (Model.Feedbacks.Any())
                        {
                            <table class="table table-hover table-click">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Data de Criação
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var feedback in Model.Feedbacks)
                                    {
                                        <tr>
                                            <td>
                                                <a href="@Url.Action("LerFeedBack", "Feedback", new { id = feedback.Id })">@Html.DisplayFor(modelItem => feedback.Id)</a>
                                            <td>
                                                @feedback.DataEHora.ToShortDateString()
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>Não foi encontrando nenhuma denúncia.</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-muted">Denúncias</h4>
                    <div class="table-responsive">
                        @if (Model.Denuncias.Any())
                        {
                            <table class="table table-hover table-click">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Data de Criação
                                        </th>
                                        <th>
                                            Motivo
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var denuncia in Model.Denuncias)
                                    {
                                        <tr>
                                            <td>
                                                <a href="@Url.Action("AvaliarDenuncia", "Denuncia", new { id = denuncia.Id })">@Html.DisplayFor(modelItem => denuncia.Id)</a>
                                            </td>
                                            <td>
                                                @denuncia.DataEHora.ToShortDateString()
                                            </td>
                                            <td>
                                                @denuncia.Motivo
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>Não foi encontrando nenhuma denúncia.</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script>
        $Visualizacao = '@Model.NumeroDeVisualizacoes'
    </script>
    <script src="~/js/app/admin.js"></script>
}