﻿@model ImoveisNow.Models.ViewModels.MinhaConta.MinhaContaAnuncianteViewModel

@{
    ViewData["Title"] = "Anunciante";
    Layout = "~/Views/Shared/_LayoutContainerFluid.cshtml";
}

<div class="container">
    <div class="card mt-4">
        <div class="card-body">
            <label class="text-muted">ANÚNCIOS</label><label class="float-right">Plano Premium</label><br />
            <label class="fs-18"><b>0</b></label> <label class="text-muted">anúncios ativos</label>
            <div class="progress">
                <div class="progress-bar w-0" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <label class="text-muted">0</label><label class="text-muted float-right">8</label>
            <br />
            <label class="fs-18"><b>0</b></label> <label class="text-muted">anúncios em destaque</label>
            <div class="progress">
                <div class="progress-bar w-0" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <label class="text-muted">1</label><label class="text-muted float-right">3</label>
            <br />
            <br />
            <a asp-area="" asp-action="Index" asp-controller="PlanoPremium" class="btn-link-theme">ADQUIRIR PLANO</a>
            <a asp-area="" asp-action="MeusAnuncios" asp-controller="Anuncio" class="btn-link-theme float-right">GERENCIAR MEUS ANÚNCIOS</a>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-muted">Contatos Recebidos</h4>
                    <div class="table-responsive">
                        @if (Model.ContatosRecebidos.Any())
                        {
                            <table class="table table-hover table-click">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>
                                            Titulo
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var contato in Model.ContatosRecebidos)
                                    {
                                        <tr>
                                            <td>
                                                <a href="@Url.Action(" VisualizarContato", "MinhaConta" , new { id=contato.Id })">@Html.DisplayFor(modelItem => @contato.Id)</a>
                                            </td>
                                            <td>
                                                @contato.Titulo
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>Não foi encontrando nenhuma denúncia.</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-muted">Favoritos</h4>
                    <div class="table-responsive">
                        @if (Model.AnunciosFavoritos.Any())
                        {
                            <table class="table table-hover table-click">
                                <thead>
                                    <tr>
                                        <th>
                                            Título
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var favorito in Model.AnunciosFavoritos)
                                    {
                                        <tr>
                                            <td>
                                                <a href="@Url.Action(" Detalhes", "Anuncio" , new { id=favorito.Id })">@Html.DisplayFor(modelItem => @favorito.Titulo)</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <p>Não foi encontrando nenhuma denúncia.</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h6 class="text-muted ml-2 mb-3">Envie o Feedback de como estar sendo a sua experiência no Imóveis Now</h6>
                    <button class="btn btn-theme feedback mx-1"><i class="fas fa-thumbs-up fs-14"></i> Enviar FeedBack</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h6 class="text-muted ml-2 mb-3">Adicione o Imóveis Now na sua Tela Inicial !</h6>
                    <button onclick="install()" class="btn btn-theme">
                        Adicionar agora !
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalFeedback">
    <partial name="_CriarFeedBack" model="Model.CriarFeedBack" />
</div>
<!--Teste PWA-->




@section scripts{
    <script src="~/js/app/anunciante.js"></script>
    <script src="~/js/helpers/requiredHelper.js"></script>
}
