﻿@*@model ImoveisNow.Models.ViewModels.MinhaConta.MinhaContaAnuncianteViewModel*@

@{
    ViewData["Title"] = "Anunciante";
    Layout = "~/Views/Shared/_LayoutContainerFluid.cshtml";
}

<div class="container">
    <p>Favoritos</p>
</div>