﻿@model ImoveisNow.Models.ViewModels.Denuncia.AvaliarDenunciaViewModel

@{
    ViewData["Title"] = "Avaliar Denúncia";
    Layout = "~/Views/Shared/_LayoutContainerFluid.cshtml";
}

<div class="container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-4">
                    <h3 class="card-header text-center bg-theme text-white">
                        <b>
                            Avaliar Denúncia
                        </b>
                    </h3>
                    <div class="card-body">
                        <div class="row justify-content-center">
                            <a asp-action="Detalhes" asp-controller="Anuncio" asp-route-id="@Model.AnuncioId" target="_blank" class="color-theme font-weight-bold fs-18">VISUALIZAR ANÚNCIO</a>
                        </div>
                        <hr />
                        <small class="text-muted">DATA DE CRIAÇÃO</small>
                        <h6>@Model.DataEHoraDeCriacao.ToShortDateString()</h6>
                        <small class="text-muted">MOTIVO</small>
                        <h6>@Model.Motivo</h6>
                        <small class="text-muted">TEXTO</small>
                        <h6 class="mb-4">@Model.Texto</h6>
                        <a asp-action="VereditoAcatar" asp-route-id="@Model.Id" class="btn btn-theme mr-3">ACATAR</a> <a asp-action="VereditoIgnorar" asp-route-id="@Model.Id" class="btn btn-secondary">IGNORAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>