﻿@{
    ViewData["Title"] = "Cadastro";
    Layout = "_LayoutSemNavbar";
}
<div class="container">
    <div class="row mb-5">
        <a asp-controller="Home" asp-action="Index" class="text-white m-0 mt-1 logo">Imóveis Now</a>
        <a asp-controller="Autenticacao" asp-action="Entrar" class="btn btn-outline-white ml-auto">REALIZAR LOGIN</a>
    </div>

    <!--XL, LG, MD-->
    <div class="col-md-12 d-none d-md-block px-0">
        <h3 class="text-white fs-48">Cadastre-se agora e <strong>comece a anunciar</strong><br class="d-none d-lg-block" />os seus imóveis</h3>
        <p class="text-white fs-14 pt-2">SELECIONE O SEU PERFIL PARA PROSSEGUIR</p>
    </div>
    <!--SM, XS-->
    <div class="col-sm-12 px-2 d-md-none d-sm-block d-sm-none px-0">
        <h2 class="text-white">Cadastre-se agora e <strong>comece a anunciar</strong> os seus imóveis</h2>
        <p class="text-white fs-14 pt-2">SELECIONE O SEU PERFIL PARA PROSSEGUIR</p>
    </div>

    <div class="card-deck mb-3">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-0 pb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><em class="far fa-user color-theme mr-2"> </em>Proprietário</h5>
                    <p class="card-text text-muted">
                        Anúncie os seus imóveis <strong>gratuitamente</strong> de forma fácil e pratica.<br />
                        <br />
                        <strong>Acompanhe os seus anúncios,</strong> compartilhe e receba contatos.
                    </p>
                    <a asp-controller="Anunciante" asp-action="CadastroProprietario" class="btn btn-theme btn-block">Cadastre-se agora!</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-0 pb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><em class="far fa-handshake color-theme mr-2"> </em>Corretor</h5>
                    <p class="card-text text-muted">
                        Anúncie imóveis e <strong>receba contato de futuros compradores</strong> ou que estão a procura de um imóvel.<br />
                        <br />
                        Tenha mais negócios em <strong>menos tempo.</strong>
                    </p>
                    <a asp-controller="Anunciante" asp-action="CadastroCorretor" class="btn btn-theme btn-block">Cadastre-se agora!</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 p-0 pb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><em class="far fa-building color-theme mr-2"> </em>Imobiliária</h5>
                    <p class="card-text text-muted">
                        <strong>Aumente a visibilidade</strong> dos seus imóveis na internet com o <strong>Imóveis Now.</strong><br />
                        <br />
                        Tenha uma <strong>página web</strong> somente para a sua imobiliária.
                    </p>
                    <a asp-controller="Anunciante" asp-action="CadastroImobiliaria" class="btn btn-theme btn-block">Cadastre-se agora!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 px-0">
        <h5 class="text-white m-0 mb-2">Possui alguma dúvida sobre o Imóveis Now?</h5>
        <a asp-area="" asp-controller="Home" asp-action="DuvidasFrequentes" class="btn btn-theme-outline">Clique aqui, e tire suas dúvidas!</a>
    </div>
</div>