﻿@model ImoveisNow.Models.ViewModels.Autenticacao.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutSemNavBar";
}

<div class="container">
    <div class="row justify-content-center mt-2">
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8">
            <div class="row justify-content-center">
                <a asp-controller="Home" asp-action="Index"><h3 class="text-white my-5 logo-lg"><b>Imóveis Now</b></h3></a>
            </div>
            <div class="card mt-2">
                <div class="card-body">
                    <form asp-action="Entrar">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" type="text" class="form-control" autofocus tabindex="1" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Senha" class="control-label"></label>
                            @*<a href="#" tabindex="6" class="float-right">Esqueceu sua senha?</a>*@
                            <div class="input-group">
                                <input asp-for="Senha" type="password" class="form-control rounded-right senha" autocomplete="off" tabindex="2">
                                <span class="icone-senha"><em class="far fa-eye" id="iconeSenha"></em></span>
                            </div>
                            <span asp-validation-for="Senha" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Entrar" class="btn btn-theme form-control" tabindex="3" />
                        </div>
                        @*<div class="row justify-content-center form-group">
                            <small class="text-muted">OU</small>
                        </div>
                        <div class="form-group">
                            <input type="button" value="Google" class="btn btn-theme form-control" disabled />
                        </div>*@
                        <div class="row justify-content-center">
                            <p class="mr-1">
                                Não possui conta?
                            </p>
                            <a asp-action="Cadastro" tabindex="5">Cadastra-se</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/helpers/senhaHelper.js"></script>
    <script src="~/vendors/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/vendors/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}