﻿@{
    ViewData["Title"] = "Erro Interno";
}

<div class="container mt-5">
    <h1 class="text-center fs-72">OOPS !</h1>
    <h5 class="text-center">Error 500: Erro Interno</h5>
    <div class="row justify-content-center">
        <a class="btn btn-theme" asp-action="Index" asp-controller="Home">Voltar a Tela de Início</a>
    </div>
</div>