﻿@{
    ViewData["Title"] = "Dúvidas Frequentes";
    Layout = "_LayoutContainerFluid";
}

<div class="col-md-12">
    <div class="row justify-content-center">
        <div class="banner">
            <img src="~/images/BannerDuvidas.jpg" class="img-fluid p-0 m-0" />

            <!--XL, LG, MD-->
            <div class="banner-duvida col-md-7 p-0 d-none d-md-block">
                <div class="text-white mb-0 font-weight-bold fs-48">COMO PODEMOS AJUDAR?</div>
            </div>
            <!--SM, XS-->
            <div class="banner-duvida col-sm-12 px-2 d-md-none d-sm-block d-sm-none">
                <h4 class="text-white mb-0 font-weight-bold">COMO PODEMOS AJUDAR?</h4>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-6">
            <div id="list-example">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" href="#list-item-1">Anúncios</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-2">Destaque de Anúncios</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-3">Busca de Imóveis</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-4">Imóveis Now Premium</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-5">Contato</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-6">Aplicação Web</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-7">Planos e Pagamentos</a>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-6">
            <!--Anúncios-->
            <h6 class="text-muted" id="list-item-1">ANÚNCIOS</h6>
            <div id="accordion" class="accordion">
                <div class="card-header collapsed bg-white mb-1" data-toggle="collapse" href="#anuncio1">
                    <a class="card-title font-weight-bold">
                        Qual o tamanho e a resolução ideal para as fotos do meu anúncio?
                    </a>
                </div>
                <div id="anuncio1" class="card-body collapse" data-parent="#accordion">
                    <p>
                        Qualquer tamanho acima de 80x80.
                    </p>
                </div>
                <div class="card-header collapsed bg-white mb-1" data-toggle="collapse" data-parent="#accordion" href="#anuncio2">
                    <a class="card-title font-weight-bold">
                        Quantas fotos posso adicionar por anúncio?
                    </a>
                </div>
                <div id="anuncio2" class="card-body collapse" data-parent="#accordion">
                    <p>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                        aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                        craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </p>
                </div>
                <div class="card-header collapsed bg-white mb-1" data-toggle="collapse" data-parent="#accordion" href="#anuncio3">
                    <a class="card-title font-weight-bold">
                        Como posso denunciar um anúncio?
                    </a>
                </div>
                <div id="anuncio3" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                        aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable VHS.
                    </div>
                </div>
                <div class="card-header collapsed bg-white mb-1" data-toggle="collapse" data-parent="#accordion" href="#anuncio4">
                    <a class="card-title font-weight-bold">
                        Como posso encerrar o meu anúncio?
                    </a>
                </div>
                <div id="anuncio4" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                        aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable VHS.
                    </div>
                </div>
                <div class="card-header collapsed bg-white mb-1" data-toggle="collapse" data-parent="#accordion" href="#anuncio5">
                    <a class="card-title font-weight-bold">
                        Como posso editar o meu anúncio?
                    </a>
                </div>
                <div id="anuncio5" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                        aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable VHS.
                    </div>
                </div>
                <div class="card-header collapsed bg-white mb-1" data-toggle="collapse" data-parent="#accordion" href="#anuncio6">
                    <a class="card-title font-weight-bold">
                        Area Útil?
                    </a>
                </div>
                <div id="anuncio6" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        3 Andares = 500 metros de area útil, 500 + 50 quintal + 10 de Garagem = 560 de total.
                    </div>
                </div>
                <!--Destaques-->
                <h6 class="text-muted mt-4" id="list-item-2">DESTAQUE DE ANÚNCIOS</h6>
                <div id="accordion" class="accordion">
                    <div class="card-header collapsed bg-white mb-1" data-toggle="collapse" href="#destaque1">
                        <a class="card-title font-weight-bold">
                            Para que serve o destaque de anúncios?
                        </a>
                    </div>
                    <div id="destaque1" class="card-body collapse" data-parent="#accordion">
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                            aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable VHS.
                        </p>
                    </div>
                    <div class="card-header collapsed bg-white mb-1" data-toggle="collapse" data-parent="#accordion" href="#destaque2">
                        <a class="card-title font-weight-bold">
                            Qual é a vantagem?
                        </a>
                    </div>
                    <div id="destaque2" class="card-body collapse" data-parent="#accordion">
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                            aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                            craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </p>
                    </div>
                    <div class="card-header collapsed bg-white mb-1" data-toggle="collapse" data-parent="#accordion" href="#destaque3">
                        <a class="card-title font-weight-bold">
                            Como sei quantos destaque ainda tenho disponíveis para utilização?
                        </a>
                    </div>
                    <div id="destaque3" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                            aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <!--Busca de Imóveis-->
                <h6 class="text-muted mt-4" id="list-item-3">BUSCA DE ANÚNCIOS</h6>
                <div id="accordion" class="accordion">
                    <div class="card-header collapsed bg-white mb-1" data-toggle="collapse" href="#busca1">
                        <a class="card-title font-weight-bold">
                            Como busco um anúncio de forma efetiva?
                        </a>
                    </div>
                    <div id="busca1" class="card-body collapse" data-parent="#accordion">
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                            aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable VHS.
                        </p>
                    </div>
                    <div class="card-header collapsed bg-white mb-1" data-toggle="collapse" data-parent="#accordion" href="#busca2">
                        <a class="card-title font-weight-bold">
                            Como saber se meu anuncio estar sendo visitado?
                        </a>
                    </div>
                    <div id="busca2" class="card-body collapse" data-parent="#accordion">
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                            aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat
                            craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </p>
                    </div>
                    <div class="card-header collapsed bg-white mb-1" data-toggle="collapse" data-parent="#accordion" href="#busca3">
                        <a class="card-title font-weight-bold">
                            Como posso melhorar a classificação do meu anúncio?
                        </a>
                    </div>
                    <div id="busca3" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                            aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <!--Premium-->
                <h6 class="text-muted mt-4" id="list-item-4">IMÓVEIS NOW PREMIUM</h6>
                <div id="accordion" class="accordion">
                    <div class="card-header collapsed bg-white mb-1" data-toggle="collapse" href="#premium1">
                        <a class="card-title font-weight-bold">
                            O que é o Imóveis Now Premium
                        </a>
                    </div>
                    <div id="premium1" class="card-body collapse" data-parent="#accordion">
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                            aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable VHS.
                        </p>
                    </div>
                </div>
                <div id="accordion" class="accordion">
                    <div class="card-header collapsed bg-white mb-1" data-toggle="collapse" href="#premium2">
                        <a class="card-title font-weight-bold">
                            Quais são os planos disponíveis?
                        </a>
                    </div>
                    <div id="premium2" class="card-body collapse" data-parent="#accordion">
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                            aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable VHS.
                        </p>
                    </div>
                </div>
                <!--Contato-->
                <h6 class="text-muted mt-4" id="list-item-5">CONTATO</h6>
                <div id="accordion" class="accordion">
                    <div class="card-header collapsed bg-white mb-1" data-toggle="collapse" href="#contato1">
                        <a class="card-title font-weight-bold">
                            Como entro em contato com o Imóveis Now?
                        </a>
                    </div>
                    <div id="contato1" class="card-body collapse" data-parent="#accordion">
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                            aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable VHS.
                        </p>
                    </div>
                </div>
                <div id="accordion" class="accordion">
                    <div class="card-header collapsed bg-white mb-1" data-toggle="collapse" href="#contato2">
                        <a class="card-title font-weight-bold">
                            Como posso dar feedback?
                        </a>
                    </div>
                    <div id="contato2" class="card-body collapse" data-parent="#accordion">
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                            aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable VHS.
                        </p>
                    </div>
                </div>
                <!--Aplicativo-->
                <h6 class="text-muted mt-4" id="list-item-6">APLICATIVO</h6>
                <div id="accordion" class="accordion">
                    <div class="card-header collapsed bg-white mb-1" data-toggle="collapse" href="#aplicativo1">
                        <a class="card-title font-weight-bold">
                            Como instalo o Web App do Imóveis Now?
                        </a>
                    </div>
                    <div id="aplicativo1" class="card-body collapse" data-parent="#accordion">
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                            aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable VHS.
                        </p>
                    </div>
                </div>
                <div id="accordion" class="accordion">
                    <div class="card-header collapsed bg-white mb-1" data-toggle="collapse" href="#aplicativo2">
                        <a class="card-title font-weight-bold">
                            Os resultados da busca são os mesmo?
                        </a>
                    </div>
                    <div id="aplicativo2" class="card-body collapse" data-parent="#accordion">
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                            aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable VHS.
                        </p>
                    </div>
                </div>
                <!--Plano e Pagamentos-->
                <h6 class="text-muted mt-4" id="list-item-7">PLANOS E PAGAMENTOS</h6>
                <div id="accordion" class="accordion">
                    <div class="card-header collapsed bg-white mb-1" data-toggle="collapse" href="#plano1">
                        <a class="card-title font-weight-bold">
                            Esqueci de fazer o pagamento, e agora?
                        </a>
                    </div>
                    <div id="plano1" class="card-body collapse" data-parent="#accordion">
                        <p>
                            Seus anúncios ficaram no ar por mais 5 dias e após seram desativados
                        </p>
                    </div>
                </div>
                <div id="accordion" class="accordion">
                    <div class="card-header collapsed bg-white mb-1" data-toggle="collapse" href="#plano2">
                        <a class="card-title font-weight-bold">
                            Se eu cancelar meu premium ainda terei acesso aos anúncios?
                        </a>
                    </div>
                    <div id="plano2" class="card-body collapse" data-parent="#accordion">
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                            aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable VHS.
                        </p>
                    </div>
                </div>
                <div id="accordion" class="accordion">
                    <div class="card-header collapsed bg-white mb-1" data-toggle="collapse" href="#plano3">
                        <a class="card-title font-weight-bold">
                            Onde encontro informações sobre o meu plano?
                        </a>
                    </div>
                    <div id="plano3" class="card-body collapse" data-parent="#accordion">
                        <p>
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
                            aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. samus labore sustainable VHS.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button class="scroll-to-top"><i class="fas fa-chevron-up fs-18"></i></button>

@section scripts{
    <script src="~/js/helpers/addAppHelper.js"></script>
    <script src="~/js/helpers/scrollToTopHelper.js"></script>
}

@section pagestyles{
    <style>
        .accordion .card-header:after {
            font-family: 'FontAwesome';
            content: "\f068";
            float: right;
        }

        .accordion .card-header.collapsed:after {
            content: "\f067";
        }
    </style>
}