﻿@model ImoveisNow.Models.ViewModels.Home.InicioViewModel

@{
    ViewData["Title"] = "Casas, Apartamentos e Terrenos para Comprar, Venda e Alugar";
    Layout = "_LayoutContainerFluid";
}

<div class="col-md-12">
    <div class="row justify-content-center">
        <div class="banner">
            <img src="~/images/banner.jpg" class="img-fluid p-0 m-0" />

            <!--XL, LG, MD-->
            <div class="banner-buscar col-md-7 p-0 d-none d-md-block">
                <form asp-controller="Anuncio" asp-action="BuscaGeral">
                    <div class="input-group input-group-lg shadow-lg">
                        <input type="text" class="form-control border-theme-1" name="parametro" id="xl-lg-md" placeholder="Digite uma rua, bairro ou cidade" required minlength="3" autocomplete="off" title="">
                        <div class="input-group-append">
                            <button class="btn btn-outline-theme-1" type="submit">BUSCAR</button>
                        </div>
                    </div>
                </form>
            </div>

            <!--SM, XS-->
            <div class="banner-buscar col-sm-12 px-2 d-md-none d-sm-block d-sm-none">
                <form asp-controller="Anuncio" asp-action="BuscaGeral">
                    <div class="input-group shadow-lg">
                        <input type="text" class="form-control border-theme-1" name="parametro" id="sm-xs" placeholder="Digite uma rua, bairro ou cidade" required minlength="3" autocomplete="off">
                        <div class="input-group-append">
                            <button class="btn btn-outline-theme-1" type="submit"><em class="fas fa-search color-theme"></em></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--XL, LG, MD-->
<div class="col-md-12 d-none d-md-block">
    <div class="row justify-content-center py-5 bg-theme-secondary">
        <div class="col-md-12">
            <div class="row justify-content-center">
                <h4 class="text-white text-center">
                    Procurando imóveis financiáveis? Temos uma<br />
                    seleção especial com as melhores ofertas!
                </h4>
                <a asp-area="" asp-controller="Anuncio" asp-action="Index" class="ml-5 btn btn-theme-outline btn-lg align-self-center">CONFIRA</a>
            </div>
        </div>
    </div>
</div>

<!--SM, XS-->
<div class="col-sm-12 d-md-none d-sm-block d-sm-none">
    <div class="row justify-content-center px-2 py-3 bg-theme-secondary">
        <div class="col-md-6">
            <div class="row justify-content-center">
                <h5 class="text-white text-center">
                    Procurando imóveis financiáveis? Temos uma<br class="d-none d-sm-block" />
                    seleção especial com as melhores ofertas!
                </h5>
            </div>
            <div class="row justify-content-center">
                <a href="" class="btn btn-theme-outline">CONFIRA</a>
            </div>
        </div>
    </div>
</div>

<div class="container mb-0">

    <!--XL, LG, MD-->
    <div class="d-none d-md-block">
        <div class="row justify-content-center pt-64 pb-1">
            <h3>Em Destaque</h3>
        </div>
        <div class="row justify-content-center pb-64">
            <div class="border-bottom-4 px-3"></div>
        </div>
    </div>

    <!--SM, XS-->
    <div class="d-md-none d-sm-block d-sm-none">
        <div class="row justify-content-center pt-4 pb-1">
            <h3>Em Destaque</h3>
        </div>
        <div class="row justify-content-center pb-4">
            <div class="border-bottom-4 px-3"></div>
        </div>
    </div>
    <div class="row">
        <div class="card-deck">
            @if (Model.AnunciosEmDestaque.Any())
            {
                int cont = 0;
                @foreach (var anuncio in Model.AnunciosEmDestaque)
                {
                    cont = cont + 1;
                    @if (cont != 3)
                    {
                        <div class="card shadow mb-4 mx-2">
                            @if (anuncio.UrlImagem != null)
                            {
                                <a asp-area="" asp-controller="Anuncio" asp-action="Detalhes" asp-route-id="@anuncio.Id" class="img-anuncio" style="background-image: url(@anuncio.UrlImagem);"></a>
                            }
                            else
                            {
                                <a asp-area="" asp-controller="Anuncio" asp-action="Detalhes" asp-route-id="@anuncio.Id" class="img-anuncio" style="background-image: url(/upload/Default.png); background-size: cover; border-radius: .3rem .3rem 0 0; background-position: center center"></a>
                            }
                            <div class="card-body">
                                @if (anuncio.Imovel != null)
                                {
                                    <h5 class="card-title mb-0">@anuncio.Valor</h5>
                                    if (anuncio.Imovel.ValorDoCondominio != null)
                                    {
                                        <small class="fs-13">Condominio: <b>@anuncio.Imovel.ValorDoCondominio</b></small>
                                    }
                                    <h6 class="fs-13"><b>@anuncio.MetrosQuadrados </b>m² <b>@anuncio.Imovel.Quartos </b>Quartos <b>@anuncio.Imovel.Banheiros </b>Banheiro <b>@anuncio.Imovel.Vagas</b> Vagas</h6>
                                }
                                else
                                {
                                    <h5 class="card-title mb-1">@anuncio.Valor</h5>
                                    <h6 class="fs-13"><b>@anuncio.MetrosQuadrados </b>m²</h6>
                                }
                                <h6 class="fs-13 text-muted">@anuncio.Descricao</h6>
                                <h6 class="fs-13 text-muted">@anuncio.Bairro, @anuncio.Cidade</h6>
                                <a asp-area="" asp-controller="Anuncio" asp-action="Detalhes" asp-route-id="@anuncio.Id" class="btn-link-theme">VER TODOS OS DETALHES</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="card shadow mb-4 mx-2 d-md-none d-sm-none d-lg-block">

                            @if (anuncio.UrlImagem != null)
                            {
                                <a asp-area="" asp-controller="Anuncio" asp-action="Detalhes" asp-route-id="@anuncio.Id" class="img-anuncio d-md-none d-sm-none d-lg-block" style="background-image: url(@anuncio.UrlImagem);"></a>
                            }
                            else
                            {
                                <a asp-area="" asp-controller="Anuncio" asp-action="Detalhes" asp-route-id="@anuncio.Id" class="img-anuncio" style="background-image: url(/upload/Default.png); background-size: cover; border-radius: .3rem .3rem 0 0; background-position: center center"></a>
                            }
                            <div class="card-body">
                                @if (anuncio.Imovel != null)
                                {
                                    <h5 class="card-title mb-0">@anuncio.Valor</h5>
                                    if (anuncio.Imovel.ValorDoCondominio != null)
                                    {
                                        <small class="fs-13">Condominio: <b>@anuncio.Imovel.ValorDoCondominio</b></small>
                                    }
                                    <h6 class="fs-13"><b>@anuncio.MetrosQuadrados</b> m² <b>@anuncio.Imovel.Quartos</b> Quartos<b>@anuncio.Imovel.Banheiros</b> Banheiro <b>@anuncio.Imovel.Vagas</b> Vagas</h6>
                                }
                                else
                                {
                                    <h5 class="card-title mb-1">@anuncio.Valor</h5>
                                    <h6 class="fs-13"><b>@anuncio.MetrosQuadrados</b> m²</h6>
                                }
                                <h6 class="fs-13 text-muted">@anuncio.Descricao</h6>
                                <h6 class="fs-13 text-muted">@anuncio.Bairro, @anuncio.Cidade</h6>
                                <a asp-area="" asp-controller="Anuncio" asp-action="Detalhes" asp-route-id="@anuncio.Id" class="btn-link-theme">VER TODOS OS DETALHES</a>
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                <partial name="_NenhumAnuncioEncontrado" />
            }
        </div>
    </div>
</div>

<div class="col-md-12 pt-5">
    <!--XL, LG, MD-->
    <div class="row justify-content-center bg-theme py-4 d-none d-md-block">
        <div class="col-md-12">
            <div class="row justify-content-center mb-2 mt-4">
                <h5 style="color:#ACF5F5;">Corretores, imobiliárias e proprietários</h5>
            </div>
            <div class="row justify-content-center mb-4">
                <h3 class="text-white text-center">Sejam bem-vindo ao Imóveis Now, divulgue agora seus<br />imóveis e receba mais contatos</h3>
            </div>
            <div class="row justify-content-center mb-4">
                <a asp-area="" asp-controller="Anuncio" asp-action="CategoriaDoNovoAnuncio" class="btn btn-white px-72 fs-18">Anunciar Imóveis</a>
            </div>
        </div>
    </div>

    <!--SM, XS-->
    <div class="row justify-content-center bg-theme py-2 d-md-none d-sm-block d-sm-none">
        <div class="col-md-12">
            <div class="row justify-content-center mb-2 mt-4">
                <h6 style="color:#ACF5F5;">Corretores, imobiliárias e proprietários</h6>
            </div>
            <div class="row justify-content-center mb-4">
                <h4 class="text-white text-center">Sejam bem-vindo ao Imóveis Now, divulgue agora seus<br />imóveis e receba mais contatos</h4>
            </div>
            <div class="row justify-content-center mb-4">
                <a asp-area="" asp-controller="" asp-action="" class="btn btn-white px-72 fs-18">Anunciar Imóveis</a>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <!--XL, LG, MD-->
    <div class="d-none d-md-block">
        <div class="row justify-content-center pt-64 pb-1">
            <h3>Novos Anúncios</h3>
        </div>
        <div class="row justify-content-center pb-64">
            <div class="border-bottom-4 px-3"></div>
        </div>
    </div>

    <!--SM, XS-->
    <div class="d-md-none d-sm-block d-sm-none">
        <div class="row justify-content-center pt-4 pb-1">
            <h3>Novos Anúncios</h3>
        </div>
        <div class="row justify-content-center pb-4">
            <div class="border-bottom-4 px-3"></div>
        </div>
    </div>

    <div class="row">
        <div class="card-deck">
            @if (Model.AnunciosNovos.Any())
            {
                int cont = 0;
                @foreach (var anuncio in Model.AnunciosNovos)
                {
                    cont = cont + 1;
                    @if (cont != 3)
                    {
                        <div class="card shadow mb-4 mx-2">
                            @if (anuncio.UrlImagem != null)
                            {
                                <a asp-area="" asp-controller="Anuncio" asp-action="Detalhes" asp-route-id="@anuncio.Id" class="img-anuncio" style="background-image: url(@anuncio.UrlImagem);"></a>
                            }
                            else
                            {
                                <a asp-area="" asp-controller="Anuncio" asp-action="Detalhes" asp-route-id="@anuncio.Id" class="img-anuncio" style="background-image: url(/upload/Default.png); background-size: cover; border-radius: .3rem .3rem 0 0; background-position: center center"></a>
                            }
                            <div class="card-body">
                                @if (anuncio.Imovel != null)
                                {
                                    <h5 class="card-title mb-0">@anuncio.Valor</h5>
                                    if (anuncio.Imovel.ValorDoCondominio != null)
                                    {
                                        <small class="fs-13">Condominio: <b>@anuncio.Imovel.ValorDoCondominio</b></small>
                                    }
                                    <h6 class="fs-13"><b>@anuncio.MetrosQuadrados </b>m² <b>@anuncio.Imovel.Quartos </b>Quartos <b>@anuncio.Imovel.Banheiros </b>Banheiro <b>@anuncio.Imovel.Vagas</b> Vagas</h6>
                                }
                                else
                                {
                                    <h5 class="card-title mb-1">@anuncio.Valor</h5>
                                    <h6 class="fs-13"><b>@anuncio.MetrosQuadrados </b>m²</h6>
                                }
                                <h6 class="fs-13 text-muted">@anuncio.Descricao</h6>
                                <h6 class="fs-13 text-muted">@anuncio.Bairro, @anuncio.Cidade</h6>
                                <a asp-area="" asp-controller="Anuncio" asp-action="Detalhes" asp-route-id="@anuncio.Id" class="btn-link-theme">VER TODOS OS DETALHES</a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="card shadow mb-4 mx-2 d-md-none d-sm-none d-lg-block">
                            @if (anuncio.UrlImagem != null)
                            {
                                <a asp-area="" asp-controller="Anuncio" asp-action="Detalhes" asp-route-id="@anuncio.Id" class="img-anuncio d-md-none d-sm-none d-lg-block" style="background-image: url(@anuncio.UrlImagem);"></a>
                            }
                            else
                            {
                                <a asp-area="" asp-controller="Anuncio" asp-action="Detalhes" asp-route-id="@anuncio.Id" class="img-anuncio" style="background-image: url(/upload/Default.png); background-size: cover; border-radius: .3rem .3rem 0 0; background-position: center center"></a>
                            }
                            <div class="card-body">
                                @if (anuncio.Imovel != null)
                                {
                                    <h5 class="card-title mb-0">@anuncio.Valor</h5>
                                    if (anuncio.Imovel.ValorDoCondominio != null)
                                    {
                                        <small class="fs-13">Condominio: <b>@anuncio.Imovel.ValorDoCondominio</b></small>
                                    }
                                    <h6 class="fs-13"><b>@anuncio.MetrosQuadrados</b> m² <b>@anuncio.Imovel.Quartos</b> Quartos<b>@anuncio.Imovel.Banheiros</b> Banheiro <b>@anuncio.Imovel.Vagas</b> Vagas</h6>
                                }
                                else
                                {
                                    <h5 class="card-title mb-1">@anuncio.Valor</h5>
                                    <h6 class="fs-13"><b>@anuncio.MetrosQuadrados</b> m²</h6>
                                }
                                <h6 class="fs-13 text-muted">@anuncio.Descricao</h6>
                                <h6 class="fs-13 text-muted">@anuncio.Bairro, @anuncio.Cidade</h6>
                                <a asp-area="" asp-controller="Anuncio" asp-action="Detalhes" asp-route-id="@anuncio.Id" class="btn-link-theme">VER TODOS OS DETALHES</a>
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                <partial name="_NenhumAnuncioEncontrado" />
            }
        </div>
    </div>
</div>

<button class="scroll-to-top"><i class="fas fa-chevron-up fs-18"></i></button>

@section scripts{
    <script src="~/js/app/home.js"></script>
    <script src="~/js/helpers/scrollToTopHelper.js"></script>
}