﻿@{
    ViewData["Title"] = "Termos De Uso e Póliticas de Privacidade";
    Layout = "_LayoutContainerFluid";
}

<div class="container pt-4">
    <h2 class="text-center font-weight-bold color-theme mb-4">TERMOS DE USO</h2>
    <div class="card mb-5">
        <div class="card-body">
            <h4>Termos de Uso</h4>
            <p>O Imóveis Now informa nestes Termos de Uso as condições para utilização deste site de forma a estabelecer as obrigações e responsabilidade de seus usuários.</p>
            <p>Ao acessar o site e quaisquer de suas páginas, o usuário concorda e aceita integralmente as condições estabelecidas nos Termos de Uso abaixo descritas.</p>
            <p>O usuário não poderá praticar as seguintes ações com relação ao site, no todo ou em parte, de modo a contrariar a ordem pública ou atentar contra a moral e os bons costumes:</p>
            <ul>
                <li>Utilizar o site e/ou qualquer conteúdo dele constante, no todo ou em parte, com propósito diverso daquele a que este se destina e de forma diversa da prevista nestes Termos de Uso;</li>
                <li>Apagar, corromper, editar ou de qualquer forma modificar, sob qualquer meio ou forma, no todo ou em parte, o site e/ou qualquer conteúdo dele constante;</li>
                <li>Praticar quaisquer atos em relação ao site, direta ou indiretamente, no todo ou em parte, que possam causar prejuízo a Imóveis Now ou a qualquer usuário;</li>
                <li>Praticar falsidade de informações e falsidade ideológica;</li>
                <li>Praticar qualquer ato contrário à boa-fé e aos usos e costumes, que possam ofender qualquer direito de terceiros e que esteja em desacordo com a etiqueta da Internet comumente aceita;</li>
                <li>Cometer fraude;</li>
                <li>Propagar, distribuir ou transmitir códigos destrutivos, que tenham ou não causado danos reais;</li>
                <li>Utilizar robôs, “spiders” ou qualquer outro dispositivo ou sistema, automático ou manual, para monitorar ou copiar qualquer conteúdo;</li>
            </ul>
        </div>
    </div>
    <hr />
    <h2 class="text-center font-weight-bold color-theme mt-4 mb-4">POLÍTICAS DE PRIVACIDADE</h2>
    <div class="card">
        <div class="card-body">
            <h4>Políticas de Privacidade</h4>

            <p>Todas as suas informações pessoais recolhidas, serão usadas para o ajudar a tornar a sua visita no nosso site o mais produtiva e agradável possível.</p>
            <p>A garantia da confidencialidade dos dados pessoais dos utilizadores do nosso site é importante para o Imóveis Now.</p>
            <p>Todas as informações pessoais relativas a membros, assinantes, clientes ou visitantes que usem o Imóveis Now serão tratadas em concordância com a Lei da Proteção de Dados Pessoais de 26 de outubro de 1998 (Lei n.º 67/98).</p>
            <p>A informação pessoal recolhida pode incluir o seu nome, e-mail, número de telefone e/ou telemóvel, morada, data de nascimento e/ou outros.</p>
            <p>O uso do Imóveis Now pressupõe a aceitação deste Acordo de privacidade. A equipa do Imóveis Now reserva-se ao direito de alterar este acordo sem aviso prévio. Deste modo, recomendamos que consulte a nossa política de privacidade com regularidade de forma a estar sempre atualizado.</p>
            
            <h4>Os anúncios</h4>

            <p>Tal como outros websites, coletamos e utilizamos informação contida nos anúncios. A informação contida nos anúncios, inclui o seu endereço IP (Internet Protocol), o seu ISP (Internet Service Provider, como o Sapo, Clix, ou outro), o browser que utilizou ao visitar o nosso website (como o Internet Explorer ou o Firefox), o tempo da sua visita e que páginas visitou dentro do nosso website.</p>
            
            <h4>Cookie DoubleClick Dart</h4>

            <p>O Google, como fornecedor de terceiros, utiliza cookies para exibir anúncios no nosso website;</p>
            <p>Com o cookie DART, o Google pode exibir anúncios com base nas visitas que o leitor fez a outros websites na Internet;</p>
            
            <h4>Os Cookies e Web Beacons</h4>

            <p>Utilizamos cookies para armazenar informação, tais como as suas preferências pessoas quando visita o nosso website. Isto poderá incluir um simples popup, ou uma ligação em vários serviços que providenciamos.</p>
            <p>Em adição também utilizamos publicidade de terceiros no nosso website para suportar os custos de manutenção. Alguns destes publicitários, poderão utilizar tecnologias como os cookies e/ou web beacons quando publicitam no nosso website, o que fará com que esses publicitários (como o Google através do Google AdSense) também recebam a sua informação pessoal, como o endereço IP, o seu ISP, o seu browser, etc. Esta função é geralmente utilizada para geotargeting (mostrar publicidade de Lisboa apenas aos leitores oriundos de Lisboa por ex.) ou apresentar publicidade direcionada a um tipo de utilizador (como mostrar publicidade de restaurante a um utilizador que visita sites de culinária regularmente, por ex.).</p>
            <p>Você detém o poder de desligar os seus cookies, nas opções do seu browser, ou efetuando alterações nas ferramentas de programas Anti-Virus, como o Norton Internet Security. No entanto, isso poderá alterar a forma como interage com o nosso website, ou outros websites. Isso poderá afetar ou não permitir que faça logins em programas, sites ou fóruns da nossa e de outras redes.</p>
            
            <h4>Ligações a Sites de terceiros</h4>

            <p>O Imóveis Now possui ligações para outros sites, os quais, a nosso ver, podem conter informações / ferramentas úteis para os nossos visitantes. A nossa política de privacidade não é aplicada a sites de terceiros, pelo que, caso visite outro site a partir do nosso deverá ler a politica de privacidade do mesmo.</p>
            <p>Não nos responsabilizamos pela política de privacidade ou conteúdo presente nesses mesmos sites.</p>
        </div>
    </div>
</div>