﻿@{
    ViewData["Title"] = "Sobre";
    Layout = "_LayoutContainerFluid";
}

<div class="container pt-4">
    <div class="col-md-12">
        <div class="row">
            <div class="col-lg-6 col-md-7 col-sm-8">
                <h5 class="font-weight-bold">
                    Sistema desenvolvido por:
                    Gustavo Felix Gomes como Trabalho de Conclusão de Curso
                    UNIRON, Faculdade Interamericana de Porto Velho.
                </h5>
                <br />
                <h5 class="font-weight-bold">
                    Trabalho Orientado por:<br /> Maicon Moreira.
                </h5>
                <br />
                <h5 class="font-weight-bold">
                    Orientação no Modelo de Negócio:<br /> SEBRAE-RO.
                </h5>
                <br />
                <br />
                <h5 class="font-weight-bold">
                    Agradecimentos ao Corretor de Imóveis Allan Mendes<br />
                    da Imobiliária Bolognesi pela troca de conhecimento.
                </h5>
            </div>
            <div class="col-lg-6 col-md-5 col-sm-4">
                <img src="~/images/icons/icon-192x192.png" class="img-fluid float-right" />
            </div>
        </div>
    </div>
</div>