﻿@model ImoveisNow.Models.ViewModels.Feedback.LerFeedBackViewModel

@{
    ViewData["Title"] = "Avaliar Denúncia";
    Layout = "~/Views/Shared/_LayoutContainerFluid.cshtml";
}

<div class="container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-4">
                    <h3 class="card-header text-center bg-theme text-white">
                        <b>
                            FeedBack Nº @Model.Id
                        </b>
                    </h3>
                    <div class="card-body">
                        <small class="text-muted">DATA DE CRIAÇÃO</small>
                        <h6>@Model.DataEHora.ToShortDateString()</h6>
                        <small class="text-muted">EMAIL</small>
                        <h6>@Model.Email</h6>
                        <small class="text-muted">TEXTO</small>
                        <h6 class="mb-4">@Model.Texto</h6>
                        <small class="text-muted">DESEJA RECEBER RETORNO</small>
                        <h6 class="mb-4">@Model.ReceberReposta</h6>
                        <a asp-action="Arquivar" asp-route-id="@Model.Id" class="btn btn-theme mr-3">ARQUIVAR</a> <a asp-action="Admin" asp-controller="MinhaConta" class="btn btn-secondary">VOLTAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>