﻿@model ImoveisNow.Models.ViewModels.Anuncio.DetalhesDoAnuncioViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Mais Características do Anúncio</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times fs-18"></i></span></button>
        </div>
        <div class="modal-body">
            @if (Model.Condominio)
            {
                <div class="col-12">
                    <div class="row">
                        @if (Model.InformacoesDoCondominio.CondominioNome != null)
                        {
                            <div class="col-6 p-0 m-0">
                                <small class="text-muted fs-14 font-weight-bold">NOME DO CONDOMÍNIO</small><br />
                                <span class="text-muted">@Model.InformacoesDoCondominio.CondominioNome</span>
                            </div>
                        }
                        @if (Model.InformacoesDoCondominio.Elevador != null)
                        {
                            <div class="col-6 p-0">
                                <small class="text-muted fs-14 font-weight-bold">ELEVADOR</small><br />
                                <span class="text-muted">@Model.InformacoesDoCondominio.Elevador</span>
                            </div>
                        }
                        @if (Model.InformacoesDoCondominio.Fechado != null)
                        {
                            <div class="col-6 p-0">
                                <small class="text-muted fs-14 font-weight-bold">FECHADO</small><br />
                                <span class="text-muted">@Model.InformacoesDoCondominio.Fechado</span>
                            </div>
                        }
                        @if (Model.InformacoesDoCondominio.PermiteAnimais != null)
                        {
                            <div class="col-6 p-0">
                                <small class="text-muted fs-14 font-weight-bold">PERMITE ANIMAIS</small><br />
                                <span class="text-muted">@Model.InformacoesDoCondominio.PermiteAnimais</span>
                            </div>
                        }
                        @if (Model.InformacoesDoCondominio.PortaoEletronico != null)
                        {
                            <div class="col-6 p-0">
                                <small class="text-muted fs-14 font-weight-bold">PORTAO ELETRÔNICO</small><br />
                                <span class="text-muted">@Model.InformacoesDoCondominio.PortaoEletronico</span>
                            </div>
                        }
                        @if (Model.InformacoesDoCondominio.SistemaDeVigilancia != null)
                        {
                            <div class="col-6 p-0">
                                <small class="text-muted fs-14 font-weight-bold">SISTEMA DE VIGILÂNCIA</small><br />
                                <span class="text-muted">@Model.InformacoesDoCondominio.SistemaDeVigilancia</span>
                            </div>
                        }
                    </div>
                    <hr />
                </div>
            }
            <div class="col-12">
                <div class="row">
                    @if (Model.Piscina != null)
                    {
                        <div class="col-6 p-0">
                            <small class="text-muted fs-14 font-weight-bold">PISCINA</small><br />
                            <span class="text-muted">@Model.Piscina</span>
                        </div>
                    }
                    @if (Model.Churrasqueira != null)
                    {
                        <div class="col-6 p-0">
                            <small class="text-muted fs-14 font-weight-bold">PISCINA</small><br />
                            <span class="text-muted">@Model.Churrasqueira</span>
                        </div>
                    }
                    @if (Model.AreaMurada != null)
                    {
                        <div class="col-6 p-0">
                            <small class="text-muted fs-14 font-weight-bold">AREA MURADA</small><br />
                            <span class="text-muted">@Model.AreaMurada</span>
                        </div>
                    }
                    @if (Model.AcessoAsfaltado != null)
                    {
                        <div class="col-6 p-0">
                            <small class="text-muted fs-14 font-weight-bold">ACESSO ASFALTADO</small><br />
                            <span class="text-muted">@Model.AcessoAsfaltado</span>
                        </div>
                    }
                </div>
                <hr />
            </div>
            @if (Model.DetalhesDoImovel != null)
            {
                <div class="col-12">
                    <div class="row">
                        @if (Model.DetalhesDoImovel.Mobiliado != null)
                        {
                            <div class="col-6 p-0">
                                <small class="text-muted fs-14 font-weight-bold">MOBILIADO</small><br />
                                <span class="text-muted">@Model.DetalhesDoImovel.Mobiliado</span>
                            </div>
                        }
                        @if (Model.DetalhesDoImovel.GaragemCoberta != null)
                        {
                            <div class="col-6 p-0">
                                <small class="text-muted fs-14 font-weight-bold">GARAGEM COBERTA</small><br />
                                <span class="text-muted">@Model.DetalhesDoImovel.GaragemCoberta</span>
                            </div>
                        }
                        @if (Model.DetalhesDoImovel.Quintal != null)
                        {
                            <div class="col-6 p-0">
                                <small class="text-muted fs-14 font-weight-bold">QUINTAL</small><br />
                                <span class="text-muted">@Model.DetalhesDoImovel.Quintal</span>
                            </div>
                        }
                        @if (Model.DetalhesDoImovel.Jardim != null)
                        {
                            <div class="col-6 p-0">
                                <small class="text-muted fs-14 font-weight-bold">JARDIM</small><br />
                                <span class="text-muted">@Model.DetalhesDoImovel.Jardim</span>
                            </div>
                        }
                    </div>
                    <hr />
                </div>
            }
            @if (Model.DetalhesDoTerreno != null)
            {
                <div class="col-12">
                    <div class="row">
                        @if (Model.DetalhesDoTerreno.Limpo != null)
                        {
                            <div class="col-6 p-0">
                                <small class="text-muted fs-14 font-weight-bold">LIMPO</small><br />
                                <span class="text-muted">@Model.DetalhesDoTerreno.Limpo</span>
                            </div>
                        }
                        @if (Model.DetalhesDoTerreno.Planado != null)
                        {
                            <div class="col-6 p-0">
                                <small class="text-muted fs-14 font-weight-bold">PLANADO</small><br />
                                <span class="text-muted">@Model.DetalhesDoTerreno.Planado</span>
                            </div>
                        }
                        @if (Model.DetalhesDoTerreno.CasaSede != null)
                        {
                            <div class="col-6 p-0">
                                <small class="text-muted fs-14 font-weight-bold">CASA SEDE</small><br />
                                <span class="text-muted">@Model.DetalhesDoTerreno.CasaSede</span>
                            </div>
                        }
                        @if (Model.DetalhesDoTerreno.AreaVerde != null)
                        {
                            <div class="col-6 p-0">
                                <small class="text-muted fs-14 font-weight-bold">AREA VERDE</small><br />
                                <span class="text-muted">@Model.DetalhesDoTerreno.AreaVerde</span>
                            </div>
                        }
                        @if (Model.DetalhesDoTerreno.PocoArtesiano != null)
                        {
                            <div class="col-6 p-0">
                                <small class="text-muted fs-14 font-weight-bold">POÇO ARTESIANO</small><br />
                                <span class="text-muted">@Model.DetalhesDoTerreno.PocoArtesiano</span>
                            </div>
                        }
                        @if (Model.DetalhesDoTerreno.EnergiaEletrica != null)
                        {
                            <div class="col-6 p-0">
                                <small class="text-muted fs-14 font-weight-bold">ENERGIA ELETRICA</small><br />
                                <span class="text-muted">@Model.DetalhesDoTerreno.EnergiaEletrica</span>
                            </div>
                        }
                    </div>
                    <hr />
                </div>
            }
        </div>
    </div>
</div>