﻿<div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Compartilhar anúncio</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times fs-18"></i></span></button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <div class="input-group mb-3">
                    <input type="text"id="url" class="form-control">
                    <div class="input-group-append">
                        <button id="copy" class="btn btn-theme">COPIAR</button>
                    </div>
                </div>
            </div>
        <div class="form-group">
            <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                <a class="a2a_button_facebook"></a>
                <a class="a2a_button_twitter"></a>
            </div>
        </div>
        </div>
    </div>
</div>