﻿@model ImoveisNow.Models.ViewModels.Anuncio.ContatarAnuncianteViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Contatar Anunciante</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times fs-18"></i></span></button>
        </div>
        <div class="modal-body">
            <form asp-controller="Anuncio" asp-action="ContatarAnunciante" method="post">
                <input type="hidden" asp-for="AnuncioId" />
                <div class="form-group">
                    <label asp-for="Nome" class="control-label fs-14 text-muted"></label>
                    <input asp-for="Nome" class="form-control" tabindex="1" autocomplete="off" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mensagem" class="control-label fs-14 text-muted"></label>
                    <textarea asp-for="Mensagem" class="form-control" tabindex="2" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label fs-14 text-muted"></label>
                    <input asp-for="Email" class="form-control" tabindex="1" autocomplete="off" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefone" class="control-label fs-14 text-muted"></label>
                    <input asp-for="Telefone" class="form-control mask-telefone" tabindex="1" autocomplete="off" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <div class="px-1">
                    <div class="custom-control custom-checkbox">
                        <input name="ContatoViaWhatsApp" id="ContatoViaWhatsApp" type="checkbox" class="custom-control-input" tabindex="5">
                        <label class="custom-control-label" for="ContatoViaWhatsApp">@Html.DisplayNameFor(model => model.ContatoViaWhatsApp)</label>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-theme float-right px-5 mt-4" tabindex="6"><b>Enviar Mensagem</b></button>
                </div>
            </form>
        </div>
    </div>
</div>