﻿@model ImoveisNow.Models.ViewModels.Denuncia.DenunciarAnuncioViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Reportar problema no anúncio</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times fs-18"></i></span></button>
        </div>
        <div class="modal-body">
            <form asp-controller="Denuncia" asp-action="NovaDenuncia" method="post">
                <input type="hidden" asp-for="AnuncioId"/>
                <div class="form-group">
                    <label asp-for="Motivo" class="control-label fs-14 text-muted"></label>
                    <select asp-for="Motivo" class="form-control">
                        <option value="">Selecione...</option>
                        @foreach (var m in Model.ListaDeMotivos)
                        {
                            <option value="@m.ToString()">@m.ToString()</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Texto" class="control-label fs-14 text-muted"></label>
                    <textarea asp-for="Texto" class="form-control" rows="4"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-theme float-right"><b>Reportar</b></button>
                </div>
            </form>
        </div>
    </div>
</div>