﻿@model ImoveisNow.Models.ViewModels.Anuncio.FiltroListagemAnuncioViewModel

<div class="card">
    <div class="card-body p-3">
        <!--ToDo:Submit do Form com o ENTER Botão Submit Hidden-->
        <form asp-action="FiltroListagem" method="post">
            <label class="control-label fs-14 text-muted">LOCALIZAÇÃO DO IMÓVEL</label>
            <input asp-for="Parametro" class="form-control" placeholder="Digite uma rua, bairro ou cidade"/>
            <label class="control-label fs-14 text-muted">TIPO DE IMÓVEL</label>
            <input class="form-control" />
            <div class="row mt-1">
                <div class="col-6 pr-2">
                    <label class="control-label fs-14 text-muted">PREÇO MINIMO</label>
                    <input asp-for="PrecoMinimo" class="form-control" />
                </div>
                <div class="col-6 pl-2">
                    <label class="control-label fs-14 text-muted">PREÇO MÁXIMO</label>
                    <input asp-for="PrecoMaximo" class="form-control" placeholder="Ilimitado"/>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-12">
                    <label class="control-label fs-14 text-muted">NÚMEROS DE QUARTOS</label>
                    <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
                        <label class="btn btn-theme-radio p-1">
                            <input type="radio" asp-for="NumeroDeQuartos" value="1" autocomplete="off" checked> 1+
                        </label>
                        <label class="btn btn-theme-radio p-1">
                            <input type="radio" asp-for="NumeroDeQuartos" value="2" autocomplete="off"> 2+
                        </label>
                        <label class="btn btn-theme-radio p-1">
                            <input type="radio" asp-for="NumeroDeQuartos" value="3" autocomplete="off"> 3+
                        </label>
                        <label class="btn btn-theme-radio p-1">
                            <input type="radio" asp-for="NumeroDeQuartos" value="4" autocomplete="off"> 4+
                        </label>
                        <label class="btn btn-theme-radio p-1">
                            <input type="radio" asp-for="NumeroDeQuartos" value="5" autocomplete="off"> 5+
                        </label>
                    </div>
                </div>
            </div>
            <input type="submit" class="collapse"/>
        </form>
    </div>
</div>