﻿@model ImoveisNow.Models.ViewModels.Anuncio.SimularFinanciamentoViewModel

<!--XL, LG, MD-->
<div class="col-md-12 d-none d-md-block">
    <div class="row justify-content-center pt-64 pb-1">
        <h3>Simular Financiamento</h3>
    </div>
    <div class="row justify-content-center pb-64">
        <div class="border-bottom-4 px-3"></div>
    </div>
</div>

<!--SM, XS-->
<div class="col-md-12 d-md-none d-sm-block d-sm-none">
    <div class="row justify-content-center pt-4 pb-1">
        <h3>Simular Financiamento</h3>
    </div>
    <div class="row justify-content-center pb-4">
        <div class="border-bottom-4 px-3"></div>
    </div>
</div>

<div class="col-md-12">
    <div class="row justify-content-center bg-theme-secondary">

        <!--XL, LG, MD-->
        <div class="col-xl-10 col-lg-10 col-md-12 d-none d-md-block pb-5">
            <form>
                <div class="form-row">
                    <div class="col-md-3 mb-3 pt-5">
                        <label class="text-white fs-18">VALOR DO IMÓVEL</label>
                        <input asp-for="ValorDoImovel" type="text" class="form-control mask-valor">
                    </div>
                    <div class="col-md-3 mb-3 pt-5">
                        <label class="text-white fs-18">ENTRADA</label>
                        <input asp-for="Entrada" type="text" class="form-control mask-valor">
                    </div>
                    <div class="col-md-2 mb-3 fs-18 pt-5">
                        <label class="text-white">PRAZO</label>
                        <input asp-for="Prazo" type="number" class="form-control">
                    </div>
                    <div class="col-md-4 mb-3 pt-5">
                        <label class="text-white fs-18">VALOR A SER FINANCIADO</label>
                        <h6 class="text-white fs-18">@Model.ValorASerFinanciado</h6>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label class="text-white fs-18">PRIMEIRA PARCELA</label>
                        <h6 class="text-white fs-18">@Model.PrimeiraParcela</h6>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label class="text-white fs-18">ÚLTIMA PARCELA</label>
                        <h6 class="text-white fs-18">@Model.UltimaParcela</h6>
                    </div>
                    <div class="col-md-2 mb-3 fs-18">
                        <label class="text-white">TAXA DE JUROS</label>
                        <h6 class="text-white fs-18">8,99% O ano</h6>
                    </div>
                </div>
            </form>
        </div>

        <!--SM-->
        <div class="col-md-12 d-none d-sm-block d-md-none pt-3">
            <form>
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label class="text-white fs-18">VALOR DO IMÓVEL</label>
                        <input asp-for="ValorDoImovel" type="text" class="form-control">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label class="text-white fs-18">ENTRADA</label>
                        <input asp-for="Entrada" type="text" class="form-control">
                    </div>
                    <div class="col-md-2 mb-3 fs-18">
                        <label class="text-white">PRAZO</label>
                        <input asp-for="Prazo" type="number" class="form-control">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="text-white fs-18">VALOR A SER FINANCIADO</label>
                        <h6 class="text-white fs-18">@Model.ValorASerFinanciado</h6>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label class="text-white fs-18">PRIMEIRA PARCELA</label>
                        <h6 class="text-white fs-18">@Model.PrimeiraParcela</h6>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label class="text-white fs-18">ÚLTIMA PARCELA</label>
                        <h6 class="text-white fs-18">@Model.UltimaParcela</h6>
                    </div>
                    <div class="col-md-2 mb-3 fs-18">
                        <label class="text-white">TAXA DE JUROS</label>
                        <h6 class="text-white fs-18">8,99% O ano</h6>
                    </div>
                </div>
            </form>
        </div>

        <!--XS-->
        <div class="col-md-12 d-lg-none d-md-none d-sm-none pt-3">
            <form>
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label class="text-white fs-18">VALOR DO IMÓVEL</label>
                        <input asp-for="ValorDoImovel" type="text" class="form-control">
                    </div>
                    <div class="col-md-3 mb-3">
                        <label class="text-white fs-18">ENTRADA</label>
                        <input asp-for="Entrada" type="text" class="form-control">
                    </div>
                    <div class="col-md-2 mb-3 fs-18">
                        <label class="text-white">PRAZO</label>
                        <input asp-for="Prazo" type="number" class="form-control">
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="text-white fs-18">VALOR A SER FINANCIADO</label>
                        <h6 class="text-white fs-18">@Model.ValorASerFinanciado</h6>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label class="text-white fs-18">PRIMEIRA PARCELA</label>
                        <h6 class="text-white fs-18">@Model.PrimeiraParcela</h6>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label class="text-white fs-18">ÚLTIMA PARCELA</label>
                        <h6 class="text-white fs-18">@Model.UltimaParcela</h6>
                    </div>
                    <div class="col-md-2 mb-3 fs-18">
                        <label class="text-white">TAXA DE JUROS</label>
                        <h6 class="text-white fs-18">8,99% O ano</h6>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="row justify-content-center">
        <div class="container m-0">
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <small class="text-muted">
                        As taxas e cálculos apresentados acima possuem caráter meramente informativo,
                        usam o sistema de amortização constante - SAC e podem não refletir as condições reais de financiamento deste imóvel.
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>