﻿@{
    ViewData["Title"] = "Novo Anúncio";
    Layout = "_LayoutContainerFluid";
}

<div class="container mt-4">
    <h3 class="fs-48">Novo Anúncio</h3>
    <p class="fs-14">SELECIONE O TIPO DE ANÚNCIO PARA PROSSEGUIR</p>

    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><em class="far fa-user color-theme mr-2"> </em>Residêncial/Comercial</h5>
                <p class="card-text text-muted">
                    Crie anúncio de <b>Casas, Apartamento, Cobertuda, Flat, Kitnet/Conjugado, Sobrado, Pontos Comerciais, Loja, Box e Imóvel Comercial.</b>
                </p>
                <a asp-controller="Anuncio" asp-action="NovoResidencialComercial" class="btn btn-theme">Continuar</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><em class="far fa-building color-theme mr-2"> </em>Lote/Terreno</h5>
                <p class="card-text text-muted">
                    Crie anúncio de <b>Lote/Terreno, Fazenda/Sítio e Chácara.</b>
                </p>
                <a asp-controller="Anuncio" asp-action="NovoLoteTerreno" class="btn btn-theme">Continuar</a>
            </div>
        </div>
    </div>
</div>