﻿@model ImoveisNow.Models.ViewModels.Anuncio.DetalhesDoAnuncioViewModel

@{
    ViewData["Title"] = Model.Titulo;
    Layout = "_LayoutContainerFluid";
}

@if (Model.UrlImagem.Count != 0)
{
    <div class="bg-dark container-fluid p-2">
        <div class="row no-gutters flex-nowrap"  id="scroll">
            @foreach (var item in Model.UrlImagem)
            {
                <div class="col-lg-3 col-md-4 col-6 p-1">
                    <a data-fancybox="gallery" href="@item" style="height:165px; overflow:hidden; cursor:pointer" class="d-block">
                        <img src="@item" class="img-fluid h-md-100"/>
                    </a>
                </div>
            }
        </div>
    </div>

}
<div class="container mb-0">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <h6 class="mt-2"><span class="bg-dark p-1 pr-2 btn text-white font-weight-bold fs-14"><i class="fas fa-camera mx-1"></i> @Model.UrlImagem.Count Fotos</span></h6>
            <h4 class="mb-0">@Model.Titulo</h4>
            <small class="text-muted">@Model.Endereco.Bairro - @Model.Cidade</small>
            <div class="col-md-12 mt-4 pb-0">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-6 p-0">
                        <span class="fs-18"><i class="far fa-clone color-theme"></i> @Model.AreaUtil</span><small>m²</small>
                    </div>
                    @if (Model.DetalhesDoImovel != null)
                    {
                        <div class="col-md-3 col-sm-6 col-6 p-0">
                            <span class="fs-18"><i class="fas fa-bed color-theme"></i> @Model.DetalhesDoImovel.NumeroDeQuartos </span>
                            @if (Model.DetalhesDoImovel.NumeroDeQuartos == 1)
                            {
                                <small>Quarto</small>
                            }
                            else
                            {
                                <small>Quartos</small>
                            }
                        </div>
                        <div class="col-md-3 col-sm-6 col-6 p-0">
                            <span class="fs-18"><i class="fas fa-shower color-theme"></i> @Model.DetalhesDoImovel.NumeroDeBanheiros </span>
                            @if (Model.DetalhesDoImovel.NumeroDeBanheiros == 1)
                            {
                                <small>Banheiro</small>
                            }
                            else
                            {
                                <small>Banheiros</small>
                            }
                            <br />
                            @if (Model.DetalhesDoImovel.NumeroDeSuites != 0)
                            {
                                <small class="pl-4">@Model.DetalhesDoImovel.NumeroDeSuites Suites</small>
                            }
                        </div>
                        <div class="col-md-3 col-sm-6 col-6 p-0">
                            <span class="fs-18"><i class="fas fa-car-side color-theme"></i> @Model.DetalhesDoImovel.VagasDeGaragem </span>
                            @if (Model.DetalhesDoImovel.VagasDeGaragem == 1)
                            {
                                <small>Vaga</small>
                            }
                            else
                            {
                                <small>Vagas</small>
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <a class="btn btn-link-theme py-0 mb-3 caracteristicas"><span class="color-theme">VER MAIS CARACTERÍSTICAS</span></a>
            </div>
            <h6 class="text-muted">@Model.Descricao</h6>

        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h6 class="text-muted mt-2">@Model.TipoDeOferta</h6>
                    <h4>@Model.Valor</h4>
                    @*@if (Model.Condominio == true)
                    {
                        <div class="col-1 border-bottom-4 mb-4"></div>
                        <small class="text-muted">Condomíninio</small><span class="float-right fs-14 font-weight-bold">@Model.InformacoesDoCondominio.CondominioValor</span>
                    }*@
                    <hr />
                    <small class="text-muted fs-14 font-weight-bold">ANUNCIANTE</small>
                    <h6>@Model.Anunciante.Nome</h6>
                    @if (!Model.OcultarTelefone)
                    {
                        <small class="text-muted fs-14 font-weight-bold">TELEFONE</small>
                        <h6>@Model.Anunciante.Telefone</h6>
                    }
                    <button class="btn btn-theme my-3 contatar">Contatar Anunciante</button>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row ml-1">
                @if (!Model.Favorito)
                {
                    <form asp-action="Favorito" method="post">
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="btn btn-outline-theme-1 mr-1"><i class="far fa-heart"></i> Adicionar aos Favoritos</button>
                    </form>
                }
                else
                {
                    <form asp-action="RemoverFavorito" method="post">
                        <input type="hidden" asp-for="Id" />
                        <button type="submit" class="btn btn-outline-theme-1 mr-1"><i class="far fa-heart"></i> Remover dos Favoritos</button>
                    </form>
                }
                <button class="btn btn-outline-theme-1 compartilhar mx-1"><i class="fas fa-share-alt fs-14"></i> Compartilhar</button>
            </div>
        </div>
    </div>
</div>

<!--Financiamento-->
<partial name="_SimularFinanciamento" model="Model.SimularFinanciamento" />

<div class="container">
    <!--Ads-->
    <div class="row justify-content-center mt-4">
        <div>
            <small class="text-muted">PUBLICIDADE:</small><br />
            <img src="~/images/ad/Banner_728x90.png" class="img-fluid" />
        </div>
    </div>
    <!--Aviso-->
    <div class="row justify-content-center mt-4">
        <div class="col-lg-10 col-md-12">
            <small class="text-muted">
                <b>AVISO:</b> O Imóveis Now não garante a veracidade do <b><i>@Model.Titulo</i></b> ou de qualquer informação associada ao mesmo.
                O Imóveis Now não possui controle sobre o contéudo. A responsabilidade do conteúdo é de <b>@Model.Anunciante.Nome</b>.
                Todas as informações são fornecidas e mantidas por <b>@Model.Anunciante.Nome</b>.
                Por favor entre diretamente em contato com <b>@Model.Anunciante.Nome</b> para obter informações detalhadas. Caso tenha encontrado algum problema com o anúncio você pode
                <label class="btn-link-red denuncia mb-2 fs-12">REPORTAR PROBLEMA NO ANÚNCIO</label>.
            </small>
        </div>
    </div>
</div>

<!--Contatar Anunciante-->
<div class="modal fade" id="modalCaracteristicasDoAnuncio">
    <partial name="_CaracteristicasDoAnuncio" model="Model" />
</div>

<!--Denuncia/Reportar-->
<div class="modal fade" id="modalDenuncia">
    <partial name="_Denunciar" model="Model.DenunciarAnuncio" />
</div>

<!--Compartilhar-->
<div class="modal fade" id="modalCompartilhar">
    <partial name="_Compartilhar" />
</div>

<!--Contatar Anunciante-->
<div class="modal fade" id="modalContatarAnunciante">
    <partial name="_ContatarAnunciante" model="Model.ContatarAnunciante" />
</div>

<button class="scroll-to-top"><i class="fas fa-chevron-up fs-18"></i></button>

@section scripts{
    <script src="~/js/app/detalheAnuncio.js"></script>
    <script src="~/js/helpers/scrollToTopHelper.js"></script>
    <script src="~/js/helpers/maskHelper.js"></script>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    <script src="~/js/helpers/requiredHelper.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="~/vendors/slimscroll/jquery.slimscroll.min.js"></script>
    <script>
        $('[data-fancybox="gallery"]').fancybox({
            gutter: 0
        });
        $('#scroll').slimscroll({
            height: 200,
            width : '100%',
            axis: 'x',
            alwaysVisible: true,
            color: '#39b4b1',
            railVisible: true,
            railColor: '#fff',
            railOpacity: 0.2,
            opacity : 1,
            size: '15px',
            applyVerticalWheelToHorizontal : true,
        });
    </script>
}

@section pagestyles{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
}