﻿@{
    ViewData["Title"] = "Editar Anúncio";
    Layout = "_LayoutContainerFluid";
}

<div class="container mt-2">
    <div class="row page-titles">
        <div class="col-md-12">
            <h3 class="color-theme-dark mb-0">@ViewData["Title"]</h3>
            <hr class="m-0" />
        </div>
    </div>
    <form asp-action="EncerrarAnuncio">
        <button type="submit" class="btn btn-danger">Encerrar Anúncio</button>
    </form>
</div>