﻿@model ImoveisNow.Models.ViewModels.Anuncio.ListaDeAnunciosViewModel

@{
    ViewData["Title"] = "Anúncios";
    Layout = "_LayoutContainerFluid";
}

<div class="container mt-2">
    <div class="row mt-4">
        <!--Filtro-->
        <div class="col-lg-3 p-0 pr-2 d-none d-lg-block">
            <partial name="_Filtro" model="Model.Filtros" />
        </div>

        @if (Model.Anuncios.Any())
        {
            int cont = 0;
            string imagemIdCarousel = "imagem";

            <!--MD, SM, XS-->
            <div class="col-md-12 d-lg-none d-md-block d-xs-block px-2 mb-2">
                <h5><b>@Model.Anuncios.Count</b> Ofertas @*de Imóveis e Terrenos à venda*@à venda</h5>
                <button class="btn btn-outline-theme-2 form-control"><b>EDITAR FILTROS</b></button>
            </div>

            <!--XL, LG-->
            <div class="col-lg-9 col-md-12 col-xs-12">
                <div class="row px-2">
                    <div class="form-group pb-0 col-sm-9 col-xs-12 px-0">
                        <select class="form-control">
                            <option value="">Ordenar por</option>
                            <option>Menor Preço</option>
                            <option>Maior Preço</option>
                        </select>
                    </div>
                    <div class="form-group col-3 m-0 pr-0">
                        <div class="ml-auto d-none d-sm-block">
                            <button class="color-theme btn btn-filtro-ativo" id="listagem"><em class="fas fa-th-list"></em></button>
                            <button class="color-theme btn btn-filtro" id="mosaico"><em class="fas fa-th"></em></button>
                        </div>
                    </div>
                </div>
                <h4 class="d-none d-lg-block"><b>@Model.Anuncios.Count</b> Ofertas @*de Imóveis e Terrenos à venda*@à venda</h4>

                <!--ToDo: Construir o Histórico de Buscar-->
                @if (false)
                {
                    <div class="alert alert-primary">
                        <strong>Filtros</strong> Filtros...
                    </div>
                }

                <!--Lista de Anuncio 1 por Linha-->
                <div class="row" id="listagemDeAnuncios">
                    @foreach (var anuncio in Model.Anuncios)
                    {
                        <div class="col-12 p-2">
                            <div class="card mb-3">
                                <div class="row no-gutters">
                                    <div class="col-md-5">
                                        @if (anuncio.UrlImagem.Count >= 2)
                                        {
                                            cont = cont + 1;
                                            <a asp-area="" asp-controller="Anuncio" asp-action="Detalhes" asp-route-id="@anuncio.Id">
                                                <div id="@imagemIdCarousel@cont" class="carousel slide" data-ride="carousel">
                                                    <div class="carousel-inner">
                                                        <div class="carousel-item active">
                                                            <img src="@anuncio.UrlImagem.First()" class="card-img-top img-fluid" />
                                                        </div>
                                                        @foreach (var url in anuncio.UrlImagem.Skip(1))
                                                        {
                                                            <div class="carousel-item">
                                                                <img src="@url" class="card-img-top img-fluid" />
                                                            </div>
                                                        }
                                                        <a href="#@imagemIdCarousel@cont" class="carousel-control-prev" role="button" data-slide="prev">
                                                            <i class="fas fa-caret-square-left"></i>
                                                        </a>
                                                        <a href="#@imagemIdCarousel@cont" class="carousel-control-next" role="button" data-slide="next">
                                                            <i class="fas fa-caret-square-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </a>
                                        }
                                        else
                                        {
                                            if (anuncio.UrlImagem.Count == 0)
                                            {
                                                <img src="~/upload/Default.png" class="card-img-top img-fluid" />
                                            }
                                            else
                                            {
                                                <a asp-area="" asp-controller="Anuncio" asp-action="Detalhes" asp-route-id="@anuncio.Id">
                                                    <img src="@anuncio.UrlImagem.First()" class="card-img-top img-fluid" />
                                                </a>
                                            }
                                        }
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h5 class="card-title mb-1">R$ @anuncio.Valor</h5>
                                            @if (anuncio.Imovel != null)
                                            {
                                                if (anuncio.Imovel.ValorDoCondominio != null)
                                                {
                                                    <h6 class="fs-13"><b>Condominio:</b> R$ @anuncio.Imovel.ValorDoCondominio</h6>
                                                }

                                                <h6 class="fs-13"><b>@anuncio.MetrosQuadrados </b>m² <b>@anuncio.Imovel.Quartos </b>Quartos <b>@anuncio.Imovel.Banheiros </b>Banheiro <b>@anuncio.Imovel.Vagas</b> Vagas</h6>
                                            }
                                            else
                                            {
                                                <h6 class="fs-13"><b>@anuncio.MetrosQuadrados </b>m²</h6>
                                            }
                                            <h6 class="fs-13 text-muted">@anuncio.Descricao</h6>
                                            <h6 class="fs-13 text-muted">@anuncio.Bairro, @anuncio.Cidade</h6>
                                            <a asp-area="" asp-controller="Anuncio" asp-action="Detalhes" asp-route-id="@anuncio.Id" class="btn-link-theme">VER TODOS OS DETALHES</a>@*<a asp-area="" asp-controller="Anuncio" asp-action="Detalhes" class="btn-link-theme ml-2">CONTATAR</a>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <!--Lista de Anuncio 3 ou 2 por Linha-->
                <div class="row" id="mosaicoDeAnuncios">
                    <div class="row" id="deck-wrapper">
                        @foreach (var anuncio in Model.Anuncios)
                        {
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="card mb-4 w-100 rounded-lg">
                                    @if (anuncio.UrlImagem.Count >= 2)
                                    {
                                        cont = cont + 1;
                                        <a asp-area="" asp-controller="Anuncio" asp-action="Detalhes" asp-route-id="@anuncio.Id">
                                            <div id="@imagemIdCarousel@cont" class="carousel slide" data-ride="carousel">
                                                <div class="carousel-inner">
                                                    <div class="carousel-item active">
                                                        <img src="@anuncio.UrlImagem.First()" class="card-img-top img-fluid" />
                                                    </div>
                                                    @foreach (var url in anuncio.UrlImagem.Skip(1))
                                                    {
                                                        <div class="carousel-item">
                                                            <img src="@url" class="card-img-top img-fluid" />
                                                        </div>
                                                    }
                                                    <a href="#@imagemIdCarousel@cont" class="carousel-control-prev" role="button" data-slide="prev">
                                                        <i class="fas fa-caret-square-left"></i>
                                                    </a>
                                                    <a href="#@imagemIdCarousel@cont" class="carousel-control-next" role="button" data-slide="next">
                                                        <i class="fas fa-caret-square-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </a>
                                    }
                                    else
                                    {
                                        if (anuncio.UrlImagem.Count == 0)
                                        {
                                            <img src="~/upload/Default.png" class="card-img-top img-fluid" />
                                        }
                                        else
                                        {
                                            <a asp-area="" asp-controller="Anuncio" asp-action="Detalhes" asp-route-id="@anuncio.Id" class="img-anuncio" style="background-image: url(@anuncio.UrlImagem.First());"></a>
                                        }
                                    }
                                    <div class="card-body">
                                        <h5 class="card-title mb-1">R$ @anuncio.Valor</h5>
                                        @if (anuncio.Imovel != null)
                                        {
                                            if (anuncio.Imovel.ValorDoCondominio != null)
                                            {
                                                <h6 class="fs-13"><b>Condominio:</b> R$ @anuncio.Imovel.ValorDoCondominio</h6>
                                            }

                                            <h6 class="fs-13"><b>@anuncio.MetrosQuadrados </b>m² <b>@anuncio.Imovel.Quartos </b>Quartos <b>@anuncio.Imovel.Banheiros </b>Banheiro <b>@anuncio.Imovel.Vagas</b> Vagas</h6>
                                        }
                                        else
                                        {
                                            <h6 class="fs-13"><b>@anuncio.MetrosQuadrados </b>m²</h6>
                                        }
                                        <h6 class="fs-13 text-muted">@anuncio.Descricao</h6>
                                        <h6 class="fs-13 text-muted">@anuncio.Bairro, @anuncio.Cidade</h6>
                                        <a asp-area="" asp-controller="Anuncio" asp-action="Detalhes" asp-route-id="@anuncio.Id" class="btn-link-theme">VER TODOS OS DETALHES</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            <p>Nenhum anúncio foi encontrado</p>
        }
    </div>

    @if (false)
    {
        <!--Paginação-->
        <ul class="pagination justify-content-center mt-5">
            <li class="page-item active"><a class="page-link" href="#"><b>1</b></a></li>
            <li class="page-item"><a class="page-link" href="#"><b>2</b></a></li>
            <li class="page-item"><a class="page-link" href="#"><b>3</b></a></li>
            <li class="page-item"><a class="page-link" href="#"><b>4</b></a></li>
            <li class="page-item"><a class="page-link" href="#"><b>5</b></a></li>
        </ul>
    }

    <!--Ads-->
    <div class="row justify-content-center mt-4">
        <div>
            <small class="text-muted">PUBLICIDADE:</small><br />
            <img src="~/images/ad/Banner_728x90.png" class="img-fluid" />
        </div>
    </div>

    <button class="scroll-to-top"><i class="fas fa-chevron-up fs-18"></i></button>

</div>

@section scripts{
    <script src="~/js/app/listaDeAnuncios.js"></script>
    <script src="~/js/helpers/scrollToTopHelper.js"></script>
}