﻿@model ICollection<ImoveisNow.Models.ViewModels.Anuncio.MeusAnunciosViewModel>

@{
    ViewData["Title"] = "Meus Anúncios";
    Layout = "_LayoutContainerFluid";
}

<div class="container mt-2">
    <div class="row page-titles">
        <div class="col-md-12">
            <h3 class="color-theme-dark mb-0">@ViewData["Title"]</h3>
            <hr class="m-0" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <a class="btn btn-outline-secondary" asp-controller="MinhaConta" asp-action="Anunciante">
                <i class="fas fa-arrow-left"></i> Voltar
            </a>
            <div class="float-right">
                <a class="btn btn-theme" asp-action="CategoriaDoNovoAnuncio">
                    <i class="fas fa-plus"></i> Novo
                </a>
            </div>
        </div>
    </div>
    <div class="row" id="deck-wrapper">
        @if (Model.Any())
        {
            foreach (var anuncio in Model)
            {
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="card mb-4 w-100 rounded-lg">
                        @if (anuncio.UrlImagem != null)
                        {
                            <a asp-area="" asp-controller="Anuncio" asp-action="Detalhes" asp-route-id="@anuncio.Id" class="img-anuncio" style="background-image: url(@anuncio.UrlImagem); background-size: cover; border-radius: .3rem .3rem 0 0; background-position: center center"></a>
                        }
                        else
                        {
                            <a asp-area="" asp-controller="Anuncio" asp-action="Detalhes" asp-route-id="@anuncio.Id" class="img-anuncio" style="background-image: url(/upload/Default.png); background-size: cover; border-radius: .3rem .3rem 0 0; background-position: center center"></a>
                        }
                        <div class="card-block card-body">
                            <div class="card-title"><h4>@anuncio.Titulo</h4></div>
                            <div class="card-text">
                                @anuncio.Descricao
                            </div>
                            <div class="card-text text-muted"><i class="fas fa-map-marker-alt"></i> @anuncio.Bairro - @anuncio.Cidade</div>
                        </div>
                        <div class="card-footer bg-white">
                            <p class="m-0 fs-18">
                                <span class="text-muted" data-toggle="tooltip" data-title="Visualizações"><i class="fas fa-eye fs-18"></i> @anuncio.Visualizacoes</span>
                                <span class="float-right">@anuncio.Valor</span>
                            </p>
                            @*<a asp-area="" asp-controller="Anuncio" asp-action="EditarAnuncio" asp-route-id="@anuncio.Id" class="btn btn-block btn-theme text-white mt-2">Editar</a>*@
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>Não foi encontrando nenhuma denúncia.</p>
        }
    </div>

    <!--Ads-->
    <div class="row justify-content-center mt-4">
        <div>
            <small class="text-muted">PUBLICIDADE:</small><br />
            <img src="~/images/ad/Banner_728x90.png" class="img-fluid" />
        </div>
    </div>
</div>

<button class="scroll-to-top"><i class="fas fa-chevron-up fs-18"></i></button>

@section scripts{
    <script src="~/js/helpers/scrollToTopHelper.js"></script>
}