﻿@model ImoveisNow.Models.ViewModels.Anuncio.NovoAnuncioLoteTerrenoViewModel

@{
    ViewData["Title"] = "Novo Anúncio - Lote/Terreno";
    Layout = "_LayoutContainerFluid";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card mt-4">
                <h3 class="card-header text-center bg-theme text-white">
                    <b>
                        Novo Anúncio<br />
                        Lote/Terreno
                    </b>
                </h3>
                <div class="card-body">
                    <form asp-action="NovoLoteTerreno" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
                                <label class="btn btn-lg btn-theme-radio">
                                    <input type="radio" asp-for="TipoDeOfertaId" value="1" data-id="para alugar" autocomplete="off" tabindex="1"> Vendo
                                </label>
                                <label class="btn btn-lg btn-theme-radio">
                                    <input type="radio" asp-for="TipoDeOfertaId" value="2" data-id="á venda" autocomplete="off" tabindex="2"> Alugo
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="TipoDeImovelId" class="control-label"></label>
                            <select asp-for="TipoDeImovelId" class="form-control single-select" tabindex="3">
                                <option value="">Selecione...</option>
                                @foreach (var tipo in Model.ListaTipoDeImovel)
                                {
                                    <option value="@tipo.Key">@tipo.Value</option>
                                }
                            </select>
                            <span asp-validation-for="TipoDeImovelId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Valor" class="control-label"></label>
                            <input asp-for="Valor" class="form-control mask-valor" tabindex="4" autocomplete="off"/>
                            <span asp-validation-for="Valor" class="text-danger"></span>
                            <div class="col-md-12 mt-3">
                                <div class="row">
                                    <div class="col-sm-6 px-1">
                                        <div class="custom-control custom-checkbox">
                                            <input name="Financiavel" id="Financiavel" type="checkbox" class="custom-control-input" tabindex="5">
                                            <label class="custom-control-label" for="Financiavel">@Html.DisplayNameFor(model => model.Financiavel)</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 px-1">
                                        <div class="custom-control custom-checkbox">
                                            <input name="Escriturado" id="Escriturado" type="checkbox" class="custom-control-input" tabindex="6">
                                            <label class="custom-control-label" for="Escriturado">@Html.DisplayNameFor(model => model.Escriturado)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label asp-for="AreaUtil" class="control-label"></label>
                            <input asp-for="AreaUtil" class="form-control mask-inteiro" tabindex="7" autocomplete="off">
                            <span asp-validation-for="AreaUtil" class="text-danger"></span>
                            <div class="col-md-12 banner-info area-info collapse mt-3 py-2">
                                <div class="row">
                                    <div class="col-1 align-self-center">
                                        <i class="far fa-lightbulb color-theme fs-18"></i>
                                    </div>
                                    <div class="col-10">
                                        A Área Útil e a medida do espaço interno do imóvel, no caso da maioria dos terrenos a área útil e a mesma da área total.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Detalhes do Terreno</label>
                            <div class="col-md-12 mt-1">
                                <div class="row">
                                    <div class="col-sm-6 px-1">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="AreaMurada" id="AreaMurada" class="custom-control-input" tabindex="8">
                                            <label class="custom-control-label" for="AreaMurada">@Html.DisplayNameFor(model => model.AreaMurada)</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 px-1">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="EnergiaEletrica" id="EnergiaEletrica" class="custom-control-input" tabindex="9">
                                            <label class="custom-control-label" for="EnergiaEletrica">@Html.DisplayNameFor(model => model.EnergiaEletrica)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-1">
                                <div class="row">
                                    <div class="col-sm-6 px-1">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="Piscina" id="Piscina" class="custom-control-input" tabindex="10">
                                            <label class="custom-control-label" for="Piscina">@Html.DisplayNameFor(model => model.Piscina)</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 px-1">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="Churrasqueira" id="Churrasqueira" class="custom-control-input" tabindex="11">
                                            <label class="custom-control-label" for="Churrasqueira">@Html.DisplayNameFor(model => model.Churrasqueira)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-1">
                                <div class="row">
                                    <div class="col-sm-6 px-1">
                                        <div class="custom-control custom-checkbox mt-1">
                                            <input type="checkbox" name="Planado" id="Planado" class="custom-control-input" tabindex="12">
                                            <label class="custom-control-label" for="Planado">@Html.DisplayNameFor(model => model.Planado)</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 px-1">
                                        <div class="custom-control custom-checkbox mt-1">
                                            <input type="checkbox" name="Limpo" id="Limpo" class="custom-control-input" tabindex="13">
                                            <label class="custom-control-label" for="Limpo">@Html.DisplayNameFor(model => model.Limpo)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-1">
                                <div class="row">
                                    <div class="col-sm-6 px-1">
                                        <div class="custom-control custom-checkbox mt-1">
                                            <input type="checkbox" name="AcessoAsfaltado" id="AcessoAsfaltado" class="custom-control-input" tabindex="14">
                                            <label class="custom-control-label" for="AcessoAsfaltado">@Html.DisplayNameFor(model => model.AcessoAsfaltado)</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 px-1">
                                        <div class="custom-control custom-checkbox mt-1">
                                            <input type="checkbox" name="AreaVerde" id="AreaVerde" class="custom-control-input" tabindex="15">
                                            <label class="custom-control-label" for="AreaVerde">@Html.DisplayNameFor(model => model.AreaVerde)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-1">
                                <div class="row">
                                    <div class="col-sm-6 px-1">
                                        <div class="custom-control custom-checkbox mt-1">
                                            <input type="checkbox" name="AguaEncanada" id="AguaEncanada" class="custom-control-input" tabindex="16">
                                            <label class="custom-control-label" for="AguaEncanada">@Html.DisplayNameFor(model => model.AguaEncanada)</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 px-1">
                                        <div class="custom-control custom-checkbox mt-1">
                                            <input type="checkbox" name="PocoArtesiano" id="PocoArtesiano" class="custom-control-input" tabindex="17">
                                            <label class="custom-control-label" for="PocoArtesiano">@Html.DisplayNameFor(model => model.PocoArtesiano)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-1">
                                <div class="row">
                                    <div class="col-sm-6 px-1">
                                        <div class="custom-control custom-checkbox mt-1">
                                            <input type="checkbox" name="CasaSede" id="CasaSede" class="custom-control-input" tabindex="18">
                                            <label class="custom-control-label" for="CasaSede">@Html.DisplayNameFor(model => model.CasaSede)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Condominio-->
                        <hr />
                        <div class="form-group">
                            <label asp-for="Condominio" class="control-label"></label>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-5 ml-3 px-1">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" name="Condominio" id="Condominio1" class="custom-control-input" value="true" tabindex="19">
                                            <label class="custom-control-label" for="Condominio1">Sim</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 ml-3 px-1">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" name="Condominio" id="Condominio2" class="custom-control-input" value="false" tabindex="20">
                                            <label class="custom-control-label" for="Condominio2">Não</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="DetalhesCondominio collapse">
                            <div class="form-group">
                                <label asp-for="NomeDoCondominio" class="control-label"></label>
                                <input asp-for="NomeDoCondominio" class="form-control" autocomplete="off">
                                <span asp-validation-for="NomeDoCondominio" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ValorDoCondominio" class="control-label"></label>
                                <input asp-for="ValorDoCondominio" class="form-control mask-valor" autocomplete="off"/>
                                <span asp-validation-for="ValorDoCondominio" class="text-danger"></span>
                            </div>
                            <div class="col-md-12 mt-1">
                                <div class="row">
                                    <div class="col-sm-6 px-1">
                                        <div class="custom-control custom-checkbox mt-1">
                                            <input type="checkbox" name="PermiteAnimais" id="PermiteAnimais" class="custom-control-input">
                                            <label class="custom-control-label" for="PermiteAnimais">@Html.DisplayNameFor(model => model.PermiteAnimais)</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 px-1">
                                        <div class="custom-control custom-checkbox mt-1">
                                            <input type="checkbox" name="Fechado" id="Fechado" class="custom-control-input">
                                            <label class="custom-control-label" for="Fechado">@Html.DisplayNameFor(model => model.Fechado)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-1">
                                <div class="row">
                                    <div class="col-sm-6 px-1">
                                        <div class="custom-control custom-checkbox mt-1">
                                            <input type="checkbox" name="PortaoEletronico" id="PortaoEletronico" class="custom-control-input">
                                            <label class="custom-control-label" for="PortaoEletronico">@Html.DisplayNameFor(model => model.PortaoEletronico)</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 px-1">
                                        <div class="custom-control custom-checkbox mt-1">
                                            <input type="checkbox" name="Elevador" id="Elevador" class="custom-control-input">
                                            <label class="custom-control-label" for="Elevador">@Html.DisplayNameFor(model => model.Elevador)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-1">
                                <div class="row">
                                    <div class="col-sm-12 px-1">
                                        <div class="custom-control custom-checkbox mt-1">
                                            <input type="checkbox" name="SistemaDeVigilancia" id="SistemaDeVigilancia" class="custom-control-input">
                                            <label class="custom-control-label" for="SistemaDeVigilancia">@Html.DisplayNameFor(model => model.SistemaDeVigilancia)</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Endereço-->
                        <hr />
                        <div class="form-group">
                            <label asp-for="Cep" class="control-label"></label>
                            <input asp-for="Cep" id="Cep" class="mask-cep form-control">
                            <span asp-validation-for="Cep" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 banner-info area-info mt-3 py-2 CepInfo">
                            <div class="row">
                                <div class="col-1 align-self-center">
                                    <i class="fas fa-exclamation color-theme fs-24"></i>
                                </div>
                                <div class="col-10">
                                    Informe o CEP do Imóvel<br />
                                    para Continuar<br /> <a href="http://www.buscacep.correios.com.br/sistemas/buscacep/" class="btn-link-theme" target="_blank">Não sei meu CEP</a>
                                </div>
                            </div>
                        </div>
                        <div class="collapse Endereco">
                            <div class="form-group">
                                <label asp-for="Cidade" class="control-label"></label>
                                <input asp-for="Cidade" class="form-control Cidade" disabled>
                                <span asp-validation-for="Cidade" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Logradouro" class="control-label"></label>
                                <input asp-for="Logradouro" class="form-control Logradouro">
                                <span asp-validation-for="Logradouro" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Bairro" class="control-label"></label>
                                <input asp-for="Bairro" class="form-control Bairro">
                                <span asp-validation-for="Bairro" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Numero" class="control-label"></label>
                                <input asp-for="Numero" id="Numero" class="form-control">
                                <span asp-validation-for="Numero" class="text-danger"></span>
                            </div>

                            <!--Titulo e Descrição-->
                            <hr />
                            <div class="form-group">
                                <label asp-for="Titulo" class="control-label"></label>
                                <label class="form-control" id="preTitulo"></label>
                                <span asp-validation-for="Titulo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Descricao" class="control-label"></label>
                                <textarea asp-for="Descricao" class="form-control" rows="4"></textarea>
                                <span asp-validation-for="Descricao" class="text-danger"></span>
                                <div class="col-md-12 banner-info descricao-info collapse mt-3 py-2">
                                    <div class="row">
                                        <div class="col-1 align-self-center">
                                            <i class="far fa-lightbulb color-theme fs-18"></i>
                                        </div>
                                        <div class="col-10">
                                            Descreva ou inclua novas caracteristicas do seu anúncio, como arredores, zoneamento, campo de futebol, churrasqueira e etc.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <!--Imagens-->
                            <div class="form-group">
                                <label asp-for="Imagens"></label><br />
                                <label asp-for="Imagens" class="btn btn-theme" tabindex="13">Adicionar Fotos +</label>
                                <input type="file" asp-for="Imagens" class="show-for-sr collapse" multiple />
                                <div class="imgs-thumbs imgs-thumbs-hidden" id="img_preview" aria-live="polite"></div>
                            </div>
                            <small class="text-muted">Adicione até 30 fotos</small>
                            <hr />
                            <!--Ocultar Telefone-->
                            <div class="col-md-12 banner-info my-3 py-2">
                                <div class="row">
                                    <div class="col-1">
                                        <i class="fas fa-phone color-theme"></i>
                                    </div>
                                    <div class="col-10">
                                        <h6>@Model.Telefone</h6>
                                    </div>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input name="OcultarTelefone" id="OcultarTelefone" type="checkbox" class="custom-control-input">
                                    <label class="custom-control-label" for="OcultarTelefone">@Html.DisplayNameFor(model => model.OcultarTelefone)</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Criar" class="btn btn-theme form-control submit" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<button class="scroll-to-top"><i class="fas fa-chevron-up fs-18"></i></button>

@section Scripts{
    <script src="~/js/helpers/buscarCepHelper.js"></script>
    <script src="~/vendors/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/vendors/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/vendors/select2/select2.min.js"></script>
    <script src="~/vendors/multiple-image-file-upload/multiple-image-file-upload.js"></script>
    <script src="~/js/helpers/requiredHelper.js"></script>
    <script src="~/js/helpers/select2Helper.js"></script>
    <script src="~/js/helpers/maskHelper.js"></script>
    <script src="~/js/app/novoLoteTerreno.js"></script>
    <script src="~/js/helpers/scrollToTopHelper.js"></script>
}

@section Pagestyles{
    <link href="~/vendors/select2/select2.css" rel="stylesheet" />
    <link href="~/vendors/multiple-image-file-upload/multiple-image-file-upload.css" rel="stylesheet" />
}