﻿<!--XL, LG, MD-->
<div class="col-12 d-none d-sm-block">
    <div class="row justify-content-center">
        <div class="col-md-9 col-sm-12 py-3">
            <div class="row justify-content-center">
                <div class="col-3 border-right-1">
                    <div class="row px-4 mb-2"><a><h5 class="text-white">Anúncios</h5></a></div>
                    <div class="row px-4 mb-1"><a asp-area="" asp-controller="Anuncio" asp-action="Index" class="text-white">Comprar</a></div>
                    <div class="row px-4 mb-1"><a asp-area="" asp-controller="Anuncio" asp-action="Index" class="text-white">Alugar</a></div>
                    @*<div class="row px-4 mb-1"><a asp-area="" asp-controller="Anuncio" asp-action="Index" class="text-white">Financiável</a></div>*@
                </div>
                <div class="col-3 border-right-1">
                    <div class="row px-4 mb-2"><a><h5 class="text-white">Institucional</h5></a></div>
                    <div class="row px-4 mb-1"><a asp-area="" asp-controller="Home" asp-action="Sobre" class="text-white">Sobre</a></div>
                    <div class="row px-4 mb-1"><a asp-area="" asp-controller="Home" asp-action="Contato" class="text-white">Contato</a></div>
                </div>
                <div class="col-3">
                    <div class="row px-4 mb-2"><h5 class="text-white">Anunciante</h5></div>
                    <div class="row px-4 mb-1"><a asp-area="" asp-controller="Anuncio" asp-action="CategoriaDoNovoAnuncio" class="text-white">Anunciar</a></div>
                    <div class="row px-4 mb-1"><a asp-area="" asp-controller="Autenticacao" asp-action="Cadastro" class="text-white">Cadastra-se</a></div>
                    <div class="row px-4 mb-1"><a asp-area="" asp-controller="Home" asp-action="DuvidasFrequentes" class="text-white">Dúvidas</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row bg-theme-dark py-2 pl-1">
    <div class="col-md-12 d-none d-sm-block">
        <!--XL, LG, MD, SM-->
        <label class="text-white m-0">
            Copyright © @DateTime.Now.Year - Gustavo Felix.
            <br />Todos os direitos reservados.
        </label>
        <div class="float-right pt-3"><a asp-area="" asp-controller="Home" asp-action="Legal" class="text-white">Termos de Uso e Póliticas de Privacidade</a></div>
    </div>
    <!--XS-->
    <div class="col-md-12">
        <div class="row justify-content-center d-lg-none d-md-none d-sm-none">
            <div class="col-md-12">
                <div class="row justify-content-center">
                    <label class="text-white m-0">
                        Copyright © @DateTime.Now.Year - Gustavo Felix.
                        <br />Todos os direitos reservados.
                    </label>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="float-right pt-3"><a asp-area="" asp-controller="Home" asp-action="Legal" class="text-white">Termos de Uso e Políticas de Privacidade</a></div>
            </div>
        </div>
    </div>
</div>