﻿<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Gustavo Felix Gomes">

    <!--Responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Title-->
    <title>@ViewData["Title"] - Imóveis Now</title>

    <!--Manifest-->
    <link rel="manifest" href="/manifest.json" />

    <!--Bootstrap Core CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--Font-Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!--Custom CSS-->
    <link rel="stylesheet" href="~/css/app.css" />

    <!--Another CSS-->
    @RenderSection("Pagestyles", required: false)

</head>
<body class="bg-theme">
    @*<div class="media-query">
        <button class="btn btn-danger d-sm-none">XS</button>
        <button class="btn btn-warning d-none d-sm-block d-md-none">SM</button>
        <button class="btn btn-success d-none d-md-block d-lg-none">MD</button>
        <button class="btn btn-info d-none d-lg-block d-xl-none">LG</button>
        <button class="btn btn-primary d-none d-xl-block">XL</button>
    </div>*@
    <!--Page Content-->
    <div class="container-fluid p-2">
        @RenderBody()
    </div>

    <footer class="container-fluid footer">
        <partial name="_Footer" />
    </footer>

    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>

    <!--Bootstrap Core JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--SweetAlert2-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

    <!--Noty JS-->
    @await Component.InvokeAsync("NToastNotify")

    <!--Custom JS-->
    <script src="~/js/app/app.js"></script>

    <!-- Another JS -->
    @RenderSection("Scripts", required: false)

</body>
</html>