﻿<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Gustavo Felix Gomes">

    <!--Responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Title-->
    <title>@ViewData["Title"] - Imóveis Now</title>

    <!--Manifest-->
    <link rel="manifest" href="/manifest.json" />

    <!--Bootstrap Core CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--Font-Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!--Custom CSS-->
    <link rel="stylesheet" href="~/css/app.css" />

    <!--Sidebar-->
    <link href="~/css/sidebar.css" rel="stylesheet" />

    <!-- Another CSS -->
    @RenderSection("Pagestyles", required: false)

</head>
<body>
    <!--Media Query-->
    @*<div class="media-query">
        <button class="btn btn-danger d-sm-none">XS</button>
        <button class="btn btn-warning d-none d-sm-block d-md-none">SM</button>
        <button class="btn btn-success d-none d-md-block d-lg-none">MD</button>
        <button class="btn btn-info d-none d-lg-block d-xl-none">LG</button>
        <button class="btn btn-primary d-none d-xl-block">XL</button>
    </div>*@
    <nav class="navbar navbar-expand-md p-0 bg-theme">
        <!--NavBar-->
        <div class="collapse navbar-collapse">
            <div class="nav-item pl-3">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand text-white logo">Imóveis Now</a>
            </div>
            <div class="nav-item">
                <a asp-area="" asp-controller="Anuncio" asp-action="Index" class="nav-link text-white">COMPRAR</a>
            </div>
            <div class="nav-item mr-auto">
                <a asp-area="" asp-controller="Anuncio" asp-action="Alugar" class="nav-link text-white">ALUGAR</a>
            </div>
            @await Component.InvokeAsync("NavbarComponent")
        </div>

        <!--NavBar Collapse-->
        <!--ToDo:Remover esse Style-->
        <div class="container-fluid navbar-toggler p-0" data-toggle="collapse" style="height:68px; margin-top:-8px;">
            <div class="nav-item">
                <a href="#" class="nav-link text-white menu"><i class="fas fa-bars"></i></a>
            </div>
            <div class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link text-white logo px-0">Imóveis Now</a>
            </div>
            <div class="nav-item">
                @await Component.InvokeAsync("NavbarComponent")
            </div>
        </div>
    </nav>

    <!--Sidebar-->
    <div id="wrapper">
        <partial name="_MenuLateral" />

        <!--Page Content-->
        <div class="container-fluid p-0">
            @RenderBody()
        </div>
    </div>

    <footer class="container-fluid footer">
        <partial name="_Footer" />
    </footer>

    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>

    <!--Bootstrap Core JavaScript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--SweetAlert2-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

    <!--Noty JS-->
    @await Component.InvokeAsync("NToastNotify")

    <!--Custom JS-->
    <script src="~/js/app/app.js"></script>

    <!--Another JS-->
    @RenderSection("Scripts", required: false)

</body>
</html>