﻿<!--ToDo: Ajustar Menu Lateral-->

<div class="sidebar">
    <div class="bg-theme navbar-collapse">
        <button class="ml-3 m-2 btn btn-outline-white menu">FECHAR</button>
    </div>
    <a asp-area="" asp-controller="Anuncio" asp-action="Index" class="nav-link color-theme mt-3"><h6>COMPRAR</h6></a>
    <a asp-area="" asp-controller="Anuncio" asp-action="Index" class="nav-link color-theme"><h6>ALUGAR</h6></a>
    <a asp-area="" asp-controller="Anuncio" asp-action="CategoriaDoNovoAnuncio" class="nav-link color-theme"><h6>ANUNCIAR</h6></a>
</div>