﻿@{
    var nomeUsuario = this.Context.Request.Cookies["NomeUsuarioIdentity"];
}

<!--XL, LG, MD-->
<div class="nav-item d-none d-md-block">
    <a asp-area="" asp-controller="Anuncio" asp-action="CategoriaDoNovoAnuncio" class="nav-link text-white">ANUNCIAR</a>
</div>

<!--XL, LG, MD, SM-->
<div class="nav-item dropdown d-none d-sm-block mr-2">
    <a class="nav-link dropdown-toggle text-white" href="" data-toggle="dropdown"><i class="fs-18 fas fa-user-circle"></i> @nomeUsuario</a>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item text-muted" asp-area="" asp-controller="MinhaConta" asp-action="Index">MINHA CONTA</a>
        <a class="dropdown-item text-muted" asp-area="" asp-controller="Anuncio" asp-action="MeusAnuncios">MEUS ANÚNCIO</a>
        <a class="dropdown-item text-muted" asp-area="" asp-controller="PlanoPremium" asp-action="Index">PLANO PREMIUM</a>
        <a class="dropdown-item text-muted" asp-area="" asp-controller="Autenticacao" asp-action="Sair">SAIR</a>
    </div>
</div>

<!--XS-->
<div class="nav-item dropdown d-lg-none d-md-none d-sm-none mr-1">
    <a class="nav-link dropdown-toggle text-white" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b data-toggle="tooltip" data-placement="top" title=""></b><i class="fs-18 fas fa-user-circle"></i></a>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item text-muted" asp-area="" asp-controller="MinhaConta" asp-action="Index">MINHA CONTA</a>
        <a class="dropdown-item text-muted" asp-area="" asp-controller="Anuncio" asp-action="MeusAnuncios">MEUS ANÚNCIO</a>
        <a class="dropdown-item text-muted" asp-area="" asp-controller="PlanoPremium" asp-action="Index">PLANO PREMIUM</a>
        <a class="dropdown-item text-muted" asp-area="" asp-controller="Autenticacao" asp-action="Sair">SAIR</a>
    </div>
</div>