﻿ <!--XL, LG, MD-->
<div class="nav-item d-none d-md-block">
    <a asp-area="" asp-controller="Anuncio" asp-action="CategoriaDoNovoAnuncio" class="nav-link text-white">ANUNCIAR</a>
</div>
<div class="nav-item d-none d-md-block mr-1">
    <a asp-area="" asp-controller="Autenticacao" asp-action="Entrar" class="nav-link text-white">ENTRAR</a>
</div>

<!--SM, XS-->
<div class="d-md-none d-sm-block d-sm-none">
    <div class="nav-item">
        <a asp-area="" asp-controller="Autenticacao" asp-action="Entrar" class="nav-link text-white">ENTRAR</a>
    </div>
</div>