﻿@{
    ViewData["Title"] = "Forma de Pagamento";
    Layout = "_LayoutContainerFluid";
}

<div class="container mt-2">
    <div class="row page-titles">
        <div class="col-md-12">
            <h3 class="color-theme-dark mb-0">@ViewData["Title"]</h3>
            <hr class="m-0" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <a class="btn btn-outline-secondary" asp-controller="MinhaConta" asp-action="Anunciante">
                <i class="fas fa-arrow-left"></i> Voltar
            </a>
            <div class="float-right">
                <a class="btn btn-theme" asp-action="CategoriaDoNovoAnuncio">
                    <i class="fas fa-plus"></i> Novo
                </a>
            </div>
        </div>
    </div>
</div>
