﻿@{
    ViewData["Title"] = "Adquirir Plano Premium";
    Layout = "_LayoutSemNavbar";
}

<div class="col-md-12">
    <div class="row mb-5">
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-white ml-4">VOLTAR</a>
        <a asp-controller="Home" asp-action="Index" class="text-white m-0 mt-1 logo ml-auto mr-4">Imóveis Now</a>
    </div>
</div>

<!--XL, LG, MD-->
<div class="col-md-12 d-none d-md-block px-4">
    <h3 class="text-white fs-48">Adquira agora um de nossos planos e <strong>comece a anunciar</strong><br class="d-none d-lg-block" /> os seus imóveis</h3>
    <p class="text-white fs-14 pt-2">SELECIONE UM DOS PLANOS ABAIXO PARA PROSSEGUIR</p>
</div>
<!--SM, XS-->
<div class="col-sm-12 px-2 d-md-none d-sm-block d-sm-none px-0">
    <h3 class="text-white">Adquira agora um de nossos planos e <strong>comece a anunciar</strong><br class="d-none d-lg-block" /> os seus imóveis</h3>
    <p class="text-white fs-14 pt-2">SELECIONE UM DOS PLANOS ABAIXO PARA PROSSEGUIR</p>
</div>


<div class="col-md-12 mb-260">
    <div class="card-deck">
        <div class="card mb-4">
            <div class="card-body">
                <div class="col-md-12 mt-3">
                    <h3 class="font-weight-bold mb">Gratuito</h3>
                    <div class="border-bottom-5"></div>
                    <div class="col-md-12 my-4">
                        <div class="row">
                            <h5 class="font-weight-bold mt-3 mx-2">R$</h5>
                            <h1 class="fs-72 font-weight-bold">0</h1>
                            <h5 class="align-self-end mb-4">/ Mensal</h5>
                        </div>
                    </div>
                    <div class="border-bottom-5"></div>
                    <div class="col-md-12 mt-4 px-0">
                        <h5><b>2 </b><label class="text-muted mt-1">Anúncios<i class="fas fa-question-circle fs-18 ml-2" data-toggle="tooltip" data-title="Quantidade de anúncios simultâneos"></i></label></h5>
                        <h5><b>0 </b><label class="text-muted">Destaques de anúncios<i class="fas fa-question-circle fs-18 ml-2" data-toggle="tooltip" data-title="Quantidade de anúncios em destaque simultâneos"></i></label></h5>
                    </div>
                    <div class="border-bottom-5 mt-4 mb-3"></div>
                    @*<a asp-controller="Autenticacao" asp-action="Cadastro" class="btn btn-theme btn-block">Adquirir agora!</a>*@
                </div>
            </div>
        </div>

        <div class="card mb-4 card-border">
            <div class="card-body">
                <div class="col-md-12 mt-3">
                    <h3 class="font-weight-bold mb">Premium</h3>
                    <div class="border-bottom-5"></div>
                    <div class="col-md-12 my-4">
                        <div class="row">
                            <h5 class="font-weight-bold mt-3 mx-2">R$</h5>
                            <h1 class="fs-72 font-weight-bold">20</h1>
                            <h5 class="align-self-end mb-4">/ Mensal</h5>
                        </div>
                    </div>
                    <div class="border-bottom-5"></div>
                    <div class="col-md-12 mt-4 px-0">
                        <h5><b>8 </b><label class="text-muted mt-1">Anúncios<i class="fas fa-question-circle fs-18 ml-2" data-toggle="tooltip" data-title="Quantidade de anúncios simultâneos"></i></label></h5>
                        <h5><b>2 </b><label class="text-muted">Destaques de anúncios<i class="fas fa-question-circle fs-18 ml-2" data-toggle="tooltip" data-title="Quantidade de anúncios em destaque simultâneos"></i></label></h5>
                    </div>
                    <div class="border-bottom-5 mt-4 mb-3"></div>
                    @*<a asp-action="FormaDePagamento" asp-route-id="2" class="btn btn-theme btn-block">Adquirir agora!</a>*@
                </div>
            </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"></div>
        <div class="w-100 d-none d-md-block d-lg-none"></div>
        <div class="card mb-4">
            <div class="card-body">
                <div class="col-md-12 mt-3">
                    <h3 class="font-weight-bold mb">Premium Plus</h3>
                    <div class="border-bottom-5"></div>
                    <div class="col-md-12 my-4">
                        <div class="row">
                            <h5 class="font-weight-bold mt-3 mx-2">R$</h5>
                            <h1 class="fs-72 font-weight-bold">40</h1>
                            <h5 class="align-self-end mb-4">/ Mensal</h5>
                        </div>
                    </div>
                    <div class="border-bottom-5"></div>
                    <div class="col-md-12 mt-4 px-0">
                        <h5><b>20 </b><label class="text-muted mt-1">Anúncios<i class="fas fa-question-circle fs-18 ml-2" data-toggle="tooltip" data-title="Quantidade de anúncios simultâneos"></i></label></h5>
                        <h5><b>4 </b><label class="text-muted">Destaques de anúncios<i class="fas fa-question-circle fs-18 ml-2" data-toggle="tooltip" data-title="Quantidade de anúncios em destaque simultâneos"></i></label></h5>
                    </div>
                    <div class="border-bottom-5 mt-4 mb-3"></div>
                    @*<a asp-action="FormaDePagamento" asp-route-id="3" class="btn btn-theme btn-block">Adquirir agora!</a>*@
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <div class="col-md-12 mt-3">
                    <h3 class="font-weight-bold mb">Premium Max</h3>
                    <div class="border-bottom-5"></div>
                    <div class="col-md-12 my-4">
                        <div class="row">
                            <h5 class="font-weight-bold mt-3 mx-2">R$</h5>
                            <h1 class="fs-72 font-weight-bold">80</h1>
                            <h5 class="align-self-end mb-4">/ Mensal</h5>
                        </div>
                    </div>
                    <div class="border-bottom-5"></div>
                    <div class="col-md-12 mt-4 px-0">
                        <h5><b>50 </b><label class="text-muted mt-1">Anúncios<i class="fas fa-question-circle fs-18 ml-2" data-toggle="tooltip" data-title="Quantidade de anúncios simultâneos"></i></label></h5>
                        <h5><b>8 </b><label class="text-muted">Destaques de anúncios<i class="fas fa-question-circle fs-18 ml-2" data-toggle="tooltip" data-title="Quantidade de anúncios em destaque simultâneos"></i></label></h5>
                    </div>
                    <div class="border-bottom-5 mt-4 mb-3"></div>
                    <a asp-action="FormaDePagamento" asp-route-id="4" class="btn btn-theme btn-block">Adquirir agora!</a>
                </div>
            </div>
        </div>
    </div>
</div>