﻿@model ImoveisNow.Models.ViewModels.Anunciante.CadastroAnuncianteViewModel

@{
    ViewData["Title"] = "Cadastro de Proprietário";
    Layout = "_LayoutSemNavBar";
}
<div class="container">
    <div class="row mb-5">
        <a asp-controller="Home" asp-action="Index" class="text-white m-0 mt-1 logo">Imóveis Now</a>
        <a asp-controller="Autenticacao" asp-action="Entrar" class="btn btn-outline-white ml-auto">REALIZAR LOGIN</a>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Cadastro">
                        <div class="row justify-content-center">
                            <h5 class="color-theme my-2 logo-lg"><b>Imóveis Now</b></h5><br />
                        </div>
                        <div>
                            <h6 class="color-theme mb-4 text-muted text-center">Cadastro de Próprietario</h6>
                        </div>
                        <div class="form-group">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Telefone" class="control-label"></label>
                            <input asp-for="Telefone" class="form-control mask-telefone" placeholder="(__) _____-____" />
                            <span asp-validation-for="Telefone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CidadeId" class="control-label"></label>
                            <select asp-for="CidadeId" class="form-control single-select">
                                <option value="">Selecione...</option>
                                @foreach (var c in Model.ListaDeCidades)
                                {
                                    <option value="@c.Key">@c.Value</option>
                                }
                            </select>
                            <span asp-validation-for="CidadeId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Senha" class="control-label"></label>
                            <div class="input-group">
                                <input asp-for="Senha" type="password" class="form-control rounded-right senha" placeholder="Mínimo 6 caracteres" autocomplete="off">
                                <span class="icone-senha"><em class="far fa-eye" id="iconeSenha"></em></span>
                            </div>
                            <span asp-validation-for="Senha" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmacaoSenha" class="control-label"></label>
                            <div class="input-group">
                                <input asp-for="ConfirmacaoSenha" type="password" class="form-control rounded-right confirmacao-senha" placeholder="Mínimo 6 caracteres" autocomplete="off">
                                <span class="icone-confirmacao-senha"><em class="far fa-eye" id="iconeConfirmacaoSenha"></em></span>
                            </div>
                            <span asp-validation-for="ConfirmacaoSenha" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Cadastra-se" class="btn btn-theme form-control" />
                        </div>
                        <p class="fs-14">Ao continuar, você concorda com os <a asp-area="" asp-controller="Home" asp-action="Legal" target="_blank">Termos de Uso e Política de Privacidade</a> do Imóveis Now.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/vendors/select2/select2.min.js"></script>
    <script src="~/vendors/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/vendors/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/helpers/senhaHelper.js"></script>
    <script src="~/js/helpers/maskHelper.js"></script>
    <script src="~/js/helpers/requiredHelper.js"></script>
    <script src="~/js/helpers/select2Helper.js"></script>
}

@section Pagestyles{
    <link href="~/vendors/select2/select2.css" rel="stylesheet" />
}